<section class="section section--negative section--negative-light section--shadow" id="section-market-performance">
    <div class="container text-center">
        <h2 class="section__title margin-bottom--50" data-aos="zoom-in">Market performance</h2>
        <div class="flex-column flex-inline">
            <div class="tabs">
                <ul class="tabs__switch margin-bottom--30 js-tabs">
                    {#<li class="tabs__switch-item tabs__switch-item--active">Average</li>#}
                    <li class="tabs__switch-item tabs__switch-item--active js-tabs-item" data-chart-display="yobit">Yobit</li>
                    <li class="tabs__switch-item js-tabs-item" data-chart-display="coindeal">Coindeal</li>
                    <li class="tabs__switch-item js-tabs-item" data-chart-display="southxchange">SouthXchange</li>
                    <li class="tabs__switch-item js-tabs-item" data-chart-display="coinbe">Coinbe</li>
                    {#<li class="tabs__switch-item js-tabs-item" data-chart-display="exrates">Exrates</li>#}
                    <li class="tabs__switch-item js-tabs-item" data-chart-display="bitbay">BitBay</li>
                </ul>
            </div>

            {% include 'partials/chart.njk' %}
        </div>
    </div>
    <div class="container container--small text-center">
        <div class="row">
            <div class="col col-6 margin-bottom--30" data-aos="fade-up" data-aos-delay="400">
                <p class="margin-bottom--10">FTO price today</p>
                <p class="price text-font--48" data-fto-price>$0.00</p>
                <p>USD</p>
            </div>
            <div class="col col-6 margin-bottom--30" data-aos="fade-up" data-aos-delay="600">
                <p class="margin-bottom--10">FTO Volume (24h)</p>
                <p class="price text-font--48" data-fto-volume>$0.00</p>
                <p>USD</p>
            </div>
        </div>
{#
        <div data-aos="zoom-in" data-aos-delay="800">
            <button class="button margin-bottom--50">Trade FuturoCoin</button>
        </div>
#}
    </div>
    <div class="container text-center">
        <p class="margin-bottom--50 text-font--18" data-aos="zoom-in" data-aos-delay="1000">You can currently trade FTO in those exchanges:</p>
        <div class="flex-row flex-space-between flex--items-center margin-bottom--50 currency-logos">
            <div><a href="https://yobit.net/en/" target="_blank" rel="noopener noreferrer" id="market-yobit"><img src="./images/logo/yobit.png?v={{ config.assetsVersion }}" alt="Yobit" data-aos="zoom-in" data-aos-delay="1150"></a></div>
            <div><a href="https://piyasa.net/" target="_blank" rel="noopener noreferrer" id="market-piyasa"><img src="./images/logo/piyasa.png?v={{ config.assetsVersion }}" alt="Piyasa" data-aos="zoom-in" data-aos-delay="1200"></a></div>
            <div><a href="https://www.coindeal.com" target="_blank" rel="noopener noreferrer" id="market-coindeal"><img src="./images/logo/coindeal.png?v={{ config.assetsVersion }}" alt="Coindeal" data-aos="zoom-in" data-aos-delay="1250"></a></div>
            <div><a href="https://www.southxchange.com/" target="_blank" rel="noopener noreferrer" id="market-southxchange"><img src="./images/logo/southxchange.png?v={{ config.assetsVersion }}" alt="SoutXchange" data-aos="zoom-in" data-aos-delay="1300"></a></div>
            <div><a href="https://coinbe.net/" target="_blank" rel="noopener noreferrer" id="market-coinbe"><img src="./images/logo/coinbe.png?v={{ config.assetsVersion }}" alt="Coinbe" data-aos="zoom-in" data-aos-delay="1350"></a></div>
            {#<div><a href="https://exrates.me" target="_blank" rel="noopener noreferrer" id="market-exrates"><img src="./images/logo/exrates.png?v={{ config.assetsVersion }}" alt="Exrates" data-aos="zoom-in" data-aos-delay="1400"></a></div>#}
            <div><a href="http://bitbay.net" target="_blank" rel="noopener noreferrer"><img src="./images/logo/bitbay.png?v={{ config.assetsVersion }}" alt="BitBay" data-aos="zoom-in" data-aos-delay="1400"></a></div>


            <div><a href="https://www.coinchelcubes.com/" target="_blank" rel="noopener noreferrer"><img src="./images/logo/coinchel.png?v={{ config.assetsVersion }}" alt="Coinchel" data-aos="zoom-in" data-aos-delay="1450"></a></div>
            <div><a href="https://darbfinance.com/" target="_blank" rel="noopener noreferrer"><img src="./images/logo/darb.png?v={{ config.assetsVersion }}" alt="Darb" data-aos="zoom-in" data-aos-delay="1500"></a></div>
            <div><a href="https://www.dfex.com/" target="_blank" rel="noopener noreferrer"><img src="./images/logo/defex.png?v={{ config.assetsVersion }}" alt="Darb" data-aos="zoom-in" data-aos-delay="1550"></a></div>
            <div><a href="https://exrates.me/dashboard" target="_blank" rel="noopener noreferrer"><img src="./images/logo/extras.png?v={{ config.assetsVersion }}" alt="Darb" data-aos="zoom-in" data-aos-delay="1550"></a></div>

            {#
            <div><a href="https://www.bitso.com"><img src="./images/logo/bitso.png?v={{ config.assetsVersion }}" alt="Bitso" data-aos="zoom-in" data-aos-delay="1200"></a></div>
            <div><a href="https://www.kraken.com"><img src="./images/logo/kraken.png?v={{ config.assetsVersion }}" alt="Kraken" data-aos="zoom-in" data-aos-delay="1250"></a></div>
            <div><a href="https://coinone.co.kr"><img src="./images/logo/coinone.png?v={{ config.assetsVersion }}" alt="CoinOne" data-aos="zoom-in" data-aos-delay="1300"></a></div>
            <div><a href="www.bitstamp.net"><img src="./images/logo/bitstamp.png?v={{ config.assetsVersion }}" alt="Bitstamp" data-aos="zoom-in" data-aos-delay="1350"></a></div>
            #}
        </div>
    </div>
</section>
