<section class="section" id="section-news">
    <div class="container news js-news">
        <h2 class="section__title margin-bottom--50 text-center" data-aos="zoom-in">What’s new?</h2>

        <div class="row js-news-container" data-aos="fade-up" data-aos-delay="100">
            <div class="col col-4 news__item-col margin-bottom--20 js-news-template">
                <a href="." class="news__item" target="_blank" rel="noopener noreferrer" data-news-url="">
                    <span class="loader"></span>
                    <img src="." class="news__image" data-news-image="">
                </a>
                <div class="news__text-container" data-aos="fade-left" data-aos-delay="200">
                    <h4 class="news__title" data-news-title=""></h4>
                    <p class="text-font--12 margin-bottom--30">By FuturoCoin on <span data-news-date=""></span></p>
                    <p class="margin-bottom--20" data-news-content=""></p>
                    <a href="." class="text-font-14 link" target="_blank" rel="noopener noreferrer" data-news-url="">Read more</a>
                </div>
            </div>
        </div>

        <div class="text-center margin-bottom--60" data-aos="fade-up" data-aos-delay="200">
            <button class="button news__more-button js-news--button-more">More news</button>
        </div>
    </div>
</section>
