<section class="section section--negative">
    <div class="container text-center">
        <h2 class="section__title margin-bottom--50" data-aos="zoom-in">Sites and places accepting FuturoCoin</h2>
        <div class="flex-row flex--items-center flex-center margin-bottom--50 partners-logos">
            <a href="https://futurenet.club/" target="_blank" rel="noopener noreferrer"><img src="./images/partners/future-net-color.png?v={{ config.assetsVersion }}" alt="FutureNet" data-aos="zoom-in" data-aos-delay="200"></a>
            <a href="http://adpro.futurenet.club/" target="_blank" rel="noopener noreferrer"><img src="./images/partners/future-adpro-color.png?v={{ config.assetsVersion }}" alt="FutureAdPro" data-aos="zoom-in" data-aos-delay="300"></a>
            <a href="https://fnwallet.com/" target="_blank" rel="noopener noreferrer"><img src="./images/partners/fnwallet-color.png?v={{ config.assetsVersion }}" alt="FNWallet" data-aos="zoom-in" data-aos-delay="280"></a>
            <a href="https://futurenetfoundation.org" target="_blank" rel="noopener noreferrer">
                <img src="./images/partners/futurenet-foundation-color.png?v={{ config.assetsVersion }}" alt="FutureNet Foundation" data-aos="zoom-in" data-aos-delay="360" class="partners-logos__image">
            </a>
            <a href="https://paycoiner.com/" target="_blank" rel="noopener noreferrer"><img src="./images/partners/paycoiner-color.svg?v={{ config.assetsVersion }}" alt="Paycoiner" data-aos="zoom-in" data-aos-delay="220" width="200"></a>
            <a href="https://futurenetrestaurants.com" target="_blank" rel="noopener noreferrer"><img src="./images/partners/futurenet-cafe-color.png?v={{ config.assetsVersion }}" alt="FutureNet cafe" data-aos="zoom-in" data-aos-delay="340"></a>
            <a href="https://bannersapp.com/" target="_blank" rel="noopener noreferrer"><img src="./images/partners/bannersapp.svg?v={{ config.assetsVersion }}" alt="BannersAPP" data-aos="zoom-in" data-aos-delay="340"></a>

            <a href="https://24bas.com" target="_blank" rel="noopener noreferrer" class="coming-soon"><img src="./images/partners/24-bas-color-2.png?v={{ config.assetsVersion }}" alt="24 Bas" data-aos="zoom-in" data-aos-delay="240"></a>
            <a href="http://boardbest.com/" target="_blank" rel="noopener noreferrer" class="coming-soon"><img src="./images/partners/board-best-color.png?v={{ config.assetsVersion }}" alt="BoardBest" data-aos="zoom-in" data-aos-delay="260"></a>
            <span class="coming-soon"><img src="./images/partners/future-voip-color.png?v={{ config.assetsVersion }}" alt="FutureVoIP" data-aos="zoom-in" data-aos-delay="320"></span>
            <a href="https://futurenet.club/cloud_app" target="_blank" rel="noopener noreferrer" class="coming-soon"><img src="./images/partners/futurocloud-color.png?v={{ config.assetsVersion }}" alt="Futurecloud" data-aos="zoom-in" data-aos-delay="380"></a>
        </div>
    </div>
</section>
