<section class="section section--negative section--border-top" id="press-about-us">
    <div class="container text-center">
        <h2 class="section__title margin-bottom--50" data-aos="zoom-in">Press about us</h2>
        <div class="flex-row flex--items-center flex-center margin-bottom--50 press__logos press__logos--hide">
            <div class="press__logo text-font--12">
                <a href="https://www.crypto-economy.net/en/first-futurocoin-fiat-pair-on-exchange-platform/" target="_blank" class="press__link" rel="noopener noreferrer">
                    <div class="margin-bottom--10">
                        <img src="./images/press/6.png?v={{ config.assetsVersion }}"  alt="Crypto Economy" class="press__image" data-aos="zoom-in" data-aos-delay="340">
                    </div>
                    <span class="press__read link link--mark">Read more</span>
                </a>
                <p class="press__posted-on">Posted on: 23.08.2018</p>
            </div>
            <div class="press__logo text-font--12">
                <a href="https://www.crypto-reporter.com/press-releases/futurocoin-cryptocurrency-of-the-future-3098/" target="_blank" class="press__link" rel="noopener noreferrer">
                    <div class="margin-bottom--10">
                        <img src="./images/press/2.png?v={{ config.assetsVersion }}"  alt="Crypto Reporter" class="press__image" data-aos="zoom-in" data-aos-delay="160">
                    </div>
                    <span class="press__read link link--mark">Read more</span>
                </a>
                <p class="press__posted-on">Posted on: 23.08.2018</p>
            </div>
            <div class="press__logo text-font--12">
                <a href="https://usethebitcoin.com/survey-cryptocurrency-market-research/" target="_blank" class="press__link" rel="noopener noreferrer">
                    <div class="margin-bottom--10">
                        <img src="./images/press/5.png?v={{ config.assetsVersion }}"  alt="Use The Bitcoin" class="press__image" data-aos="zoom-in" data-aos-delay="220">
                    </div>
                    <span class="press__read link link--mark">Read more</span>
                </a>
                <p class="press__posted-on">Posted on: 23.08.2018</p>
            </div>
            <div class="press__logo text-font--12">
                <a href="http://allcoinsnews.com/2018/04/27/cryptocurrency-of-the-future-futurocoin-on-coindeal/" target="_blank" class="press__link" rel="noopener noreferrer">
                    <div class="margin-bottom--10">
                        <img src="./images/press/4.png?v={{ config.assetsVersion }}"  alt="All Coins News" class="press__image" data-aos="zoom-in" data-aos-delay="300">
                    </div>
                    <span class="press__read link link--mark">Read more</span>
                </a>
                <p class="press__posted-on">Posted on: 23.08.2018</p>
            </div>
            <div class="press__logo text-font--12">
                <a href="https://www.newsbtc.com/2018/10/13/great-success-of-futurocoin/" target="_blank" class="press__link" rel="noopener noreferrer">
                    <div class="margin-bottom--10">
                        <img src="./images/press/3.png?v={{ config.assetsVersion }}"  alt="News BTC" class="press__image" data-aos="zoom-in" data-aos-delay="220">
                    </div>
                    <span class="press__read link link--mark">Read more</span>
                </a>
                <p class="press__posted-on">Posted on: 23.08.2018</p>
            </div>
            <div class="press__logo text-font--12">
                <a href="https://www.financemagnates.com/thought-leadership/futurocoin-stable-project-for-upcoming-months/" target="_blank" class="press__link" rel="noopener noreferrer">
                    <div class="margin-bottom--10">
                        <img src="./images/press/1.png?v={{ config.assetsVersion }}"  alt="Finance Magnates" class="press__image" data-aos="zoom-in" data-aos-delay="200">
                    </div>
                    <span class="press__read link link--mark">Read more</span>
                </a>
                <p class="press__posted-on">Posted on: 23.08.2018</p>
            </div>
            <div class="press__logo text-font--12">
                <a href="https://www.crypto-news.net/coin-of-future-futurocoin/" target="_blank" class="press__link" rel="noopener noreferrer">
                    <div class="margin-bottom--10">
                        <img src="./images/press/7.png?v={{ config.assetsVersion }}"  alt="Crypto News" class="press__image" data-aos="zoom-in" data-aos-delay="340">
                    </div>
                    <span class="press__read link link--mark">Read more</span>
                </a>
                <p class="press__posted-on">Posted on: 23.08.2018</p>
            </div>
            <div class="press__logo text-font--12">
                <a href="https://mbfinance.ru/investitsii/kriptovalyuty/novosti/kriptovalyuta-budushhego-futurocoin/" target="_blank" class="press__link" rel="noopener noreferrer">
                    <div class="margin-bottom--10">
                        <img src="./images/press/8.png?v={{ config.assetsVersion }}"  alt="MB Finance" class="press__image" data-aos="zoom-in" data-aos-delay="240">
                    </div>
                    <span class="press__read link link--mark">Read more</span>
                </a>
                <p class="press__posted-on">Posted on: 23.08.2018</p>
            </div>
            <div class="press__logo text-font--12">
                <a href="https://coingape.com/futurocoin-on-exrates-me-and-bitbay-net/" target="_blank" class="press__link" rel="noopener noreferrer">
                    <div class="margin-bottom--10">
                        <img src="./images/press/9.png?v={{ config.assetsVersion }}"  alt="Coin Gape" class="press__image" data-aos="zoom-in" data-aos-delay="260">
                    </div>
                    <span class="press__read link link--mark">Read more</span>
                </a>
                <p class="press__posted-on">Posted on: 23.08.2018</p>
            </div>
            <div class="press__logo text-font--12">
                <a href="https://bitcoinist.com/how-to-join-the-biggest-cryptos-futurocoin-explains/" target="_blank" class="press__link" rel="noopener noreferrer">
                    <div class="margin-bottom--10">
                        <img src="./images/press/10.png?v={{ config.assetsVersion }}" alt="Bitcoinist" class="press__image" data-aos="zoom-in" data-aos-delay="200">
                    </div>
                    <span class="press__read link link--mark">Read more</span>
                </a>
                <p class="press__posted-on">Posted on: 23.08.2018</p>
            </div>
            <div class="press__logo text-font--12">
                <a href="https://www.blockchain24.co/futurocoin-the-best-example-of-a-fast-development/" target="_blank" class="press__link" rel="noopener noreferrer">
                    <div class="margin-bottom--10">
                        <img src="./images/press/11.png?v={{ config.assetsVersion }}" alt="Blockchain 24" class="press__image" data-aos="zoom-in" data-aos-delay="300">
                    </div>
                    <span class="press__read link link--mark">Read more</span>
                </a>
                <p class="press__posted-on">Posted on: 23.08.2018</p>
            </div>
            <div class="press__logo text-font--12">
                <a href="https://coinportalnews.com/2018/11/14/futurocoin-get-to-know-it/" target="_blank" class="press__link" rel="noopener noreferrer">
                    <div class="margin-bottom--10">
                        <img src="./images/press/12.png?v={{ config.assetsVersion }}" alt="Coin Portal News" class="press__image" data-aos="zoom-in" data-aos-delay="240">
                    </div>
                    <span class="press__read link link--mark">Read more</span>
                </a>
                <p class="press__posted-on">Posted on: 23.08.2018</p>
            </div>
            <div class="press__logo text-font--12">
                <a href="https://coincierge.de/2018/kryptowaehrung-der-zukunft-futurocoin/" target="_blank" class="press__link" rel="noopener noreferrer">
                    <div class="margin-bottom--10">
                        <img src="./images/press/13.png?v={{ config.assetsVersion }}" alt="Coincierge" class="press__image" data-aos="zoom-in" data-aos-delay="340">
                    </div>
                    <p class="press__read link link--mark">Read more</p>
                </a>
                <span class="press__posted-on">Pospanted on: 23.08.2018</span>
            </div>
        </div>
        <div class="press__more margin-bottom--80">
            <button class="button press--more">See more</button>
            <a href="#press-about-us" class="button press--less js-smooth-scroll-to hidden">See less</a>
        </div>
        <div class="press__divider"></div>
    </div>
</section>
