<section class="section section--negative section--drop-shadow">
    <div class="container margin-bottom--70">
        <div class="row">
            <div class="col col-9 col-full-width-lg-down">
                <div class="row">
                    <div class="col col-9">
                        <h2 class="section__title margin-bottom--50" data-aos="fade-right">We redefine and develop technology</h2>
                        <p class="margin-bottom--50" data-aos="fade-right" data-aos-delay="200">FuturoCoin’s code is an extended version of Dash's code. Thanks to that, we have an access to new solutions and upgrades, created by Dash society and our team.</p>
                    </div>
                </div>
                <p class="text-mark margin-bottom--30" data-aos="fade-right" data-aos-delay="400">You have full insight into the code:</p>
                <div class="row" data-aos="fade-right" data-aos-delay="600">
                    <div class="col col-4 flex-row flex--items-center margin-bottom-md-down--20">
                        <img src="./images/icon/open-source.png?v={{ config.assetsVersion }}" alt="Open source code">
                        <p>Open source code</p>
                    </div>
                    <div class="col col-4 flex-row flex--items-center margin-bottom-md-down--20">
                        <img src="./images/icon/centralised.png?v={{ config.assetsVersion }}" alt="Centralised stability assurance">
                        <p>Centralised stability assurance</p>
                    </div>
                    <div class="col col-4 flex-row flex--items-center">
                        <img src="./images/icon/decentralised.png?v={{ config.assetsVersion }}" alt="Decentralised network">
                        <p>Decentralised network</p>
                    </div>
                </div>
            </div>
            <div class="col col-3 text-right col-hide-lg-down">
                <img src="./images/icon/redefine-illu.png?v={{ config.assetsVersion }}" alt="Redefine technology" data-aos="fade-left" data-aos-delay="200">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="margin-bottom--80 text-center" data-aos="zoom-in" data-aos-delay="800">
            <a href="https://github.com/futuro-coin/Futuro" class="button margin-bottom--20" target="_blank" rel="noopener noreferrer">See the code</a>
            <br>
            <img src="./images/logo/github.png?v={{ config.assetsVersion }}" alt="GitHub">
        </div>
    </div>
</section>
