<section class="section section--negative section--negative-light section--drop-shadow" id="section-wallet">
    <div class="container text-center">
        <h2 class="section__title section__title--large margin-bottom--50" data-aos="zoom-in">Download wallet</h2>
        <div class="container container--small2 margin-bottom--50">
            <p class="margin-bottom--30" data-aos="zoom-in" data-aos-delay="200">Take care of of your FuturoCoins. Keep your money safe in decentralised wallet we designed for you.</p>
        </div>

        <div class="row margin-bottom--20">
            <div class="wallet margin-bottom--30">
                <div class="wallet__container">
                    <h3 class="section__title margin-bottom--20">Core wallets</h3>
                    <p class="margin-bottom--auto">FuturoCoin Core Wallet allows you to see a full blockchain history. It requires one time download of full blockchain data</p>

                    <div class="flex-row flex-center margin-bottom--30 margin-top--30 wallet__download">
                        <div>
                            <span class="icon__wallet icon__wallet--windows margin-bottom--10"></span>
                            <p class="text-font--24 margin-bottom--10">Windows</p>
                            <a href="https://github.com/futuro-coin/Futuro-binaries/raw/master/futurocoincore-1.0.2.1-win64-setup.exe" class="link link--mark">Download</a>
                        </div>
                        <div>
                            <span class="icon__wallet icon__wallet--macos margin-bottom--10"></span>
                            <p class="text-font--24 margin-bottom--10">MacOS</p>
                            <a href="https://github.com/futuro-coin/Futuro-binaries/raw/master/futurocoincore-1.0.2.1-osx-setup.dmg" class="link link--mark">Download</a>
                        </div>
                    </div>
                    <a href="https://github.com/futuro-coin/Futuro-binaries" target="_blank" rel="noopener noreferrer" class="button button--transparent">Sources</a>
                </div>
            </div>

            <div class="wallet margin-bottom--30">
                <div class="wallet__container">
                    <h3 class="section__title margin-bottom--20">Paper wallet</h3>
                    <p class="margin-bottom--auto">FuturoCoin addresses and their corresponding private key can be now conveniently generated in a web browser.</p>

                    <div class="flex-row flex-center margin-bottom--30 margin-top--30">
                        <div>
                            <span class="icon__wallet icon__wallet--paper-wallet margin-bottom--10"></span>
                            <p class="text-font--24 margin-bottom--10">Paper Wallet</p>
                            <a href="https://github.com/futuro-coin/paper-futuro/archive/master.zip" class="link link--mark">Download</a>
                        </div>
                    </div>
                    <a href="https://github.com/futuro-coin/paper-futuro" target="_blank" rel="noopener noreferrer" class="button button--transparent">Sources</a>
                </div>
            </div>

            <div class="wallet margin-bottom--30">
                <div class="wallet__container">
                    <h3 class="section__title margin-bottom--20">Light wallet</h3>
                    <p class="margin-bottom--auto">Electrum wallet is a pure python application. Download it and get a faster access to your FuturoCoins than with other wallets!</p>

                    <div class="flex-row flex-center margin-bottom--30 margin-top--30">
                        <div>
                            <span class="icon__wallet icon__wallet--electrum margin-bottom--10"></span>
                            <p class="text-font--24 margin-bottom--10">Electrum</p>
                            <a href="https://github.com/futuro-coin/Futuro-binaries/raw/master/electrum-FTO-3.1.2-setup-win32.exe" class="link link--mark">Download</a>
                        </div>
                    </div>
                    <a href="https://github.com/futuro-coin/electrum-futuro" target="_blank" rel="noopener noreferrer" class="button button--transparent">Sources</a>
                </div>
            </div>
        </div>

        <div class="margin-bottom--80" data-aos="zoom-in" data-aos-delay="300">
            <img src="./images/logo/github.png?v={{ config.assetsVersion }}" alt="GitHub" class="margin-bottom--10">
            <br>
            <a href="https://github.com/futuro-coin" class="button margin-bottom--20" target="_blank" rel="noopener noreferrer">FuturoCoin Github</a>
        </div>

    </div>
</section>
