{# <script src="./vendor/particles.js/particles.min.js"></script> #}
<script src="./vendor/parsley.min.js"></script>
<script src="./vendor/fancybox/jquery.fancybox.min.js"></script>
<!-- news.js -->
<script src="./scripts/news.min.js"></script>
