<section class="slider section">
    {# <div class="slider__particles" id="particles-js"></div> #}
    <video class="slider__video" autoplay muted loop>
        <source src="videos/f1.mp4" type="video/mp4" />
    </video>
    <div class="slider__cover"></div>
    <div class="container container--small text-center">
        <h1 class="section__title margin-bottom--30" data-aos="zoom-in" data-aos-delay="100">
            FuturoCoin is a cryptocurrency which combines proven solutions with innovative technology
        </h1>
        <h2 class="text-font--20 margin-bottom--50" data-aos="zoom-in" data-aos-delay="300">
            Let’s see, why is it worthy to have FuturoCoin in your wallet
        </h2>
        <div data-aos="zoom-in" data-aos-delay="500">
            <a href="#section-solutions" class="button js-smooth-scroll-to">Get to know more</a>
        </div>
    </div>
    <div class="slider__scroll">
        <a href="#section-solutions" class="slider__scroll-icon icon icon__scroll js-smooth-scroll-to"></a>
        <span class="text-font--12 text-uppercase">KEEP SCROLLING</span>
    </div>
</section>