<ul class="social__list">
  <li class="social__item">
    <a href="https://www.linkedin.com/company/futurocoinfto/" class="social__link" target="_blank" rel="noopener noreferrer">
      <span class="icon icon__social icon__social--li"></span></a>
  </li>
  <li class="social__item">
    <a href="https://www.instagram.com/futurocoin_official/" class="social__link" target="_blank" rel="noopener noreferrer">
      <span class="icon icon__social icon__social--in"></span></a>
  </li>
  <li class="social__item">
    <a href="https://medium.com/futurocoinfto" class="social__link" target="_blank" rel="noopener noreferrer">
      <span class="icon icon__social icon__social--md"></span></a>
  </li>
  <li class="social__item">
    <a href="https://www.youtube.com/channel/UCa_3dvO2UL61TE-8JY7Jm4Q?view_as=subscriber" class="social__link" target="_blank" rel="noopener noreferrer">
      <span class="icon icon__social icon__social--yt"></span></a>
  </li>
  <li class="social__item">
    <a href="https://www.facebook.com/FuturoCoin/" class="social__link" target="_blank" rel="noopener noreferrer">
      <span class="icon icon__social icon__social--fb"></span></a>
  </li>
  <li class="social__item">
    <a href="https://twitter.com/FuturoCoinFTO" class="social__link" target="_blank" rel="noopener noreferrer">
      <span class="icon icon__social icon__social--tt"></span></a>
  </li>
  <li class="social__item">
    <a href="https://t.me/FTOGroupOfficial" class="social__link" target="_blank" rel="noopener noreferrer">
      <span class="icon icon__social icon__social--tg"></span></a>
  </li>
  <li class="social__item">
    <a href="https://vk.com/futuro.coin" class="social__link" target="_blank" rel="noopener noreferrer">
      <span class="icon icon__social icon__social--vk"></span></a>
  </li>
  <li class="social__item">
    <a href="https://www.reddit.com/r/FuturoCoinFTO/" class="social__link" target="_blank" rel="noopener noreferrer">
      <span class="icon icon__social icon__social--rd"></span></a>
  </li>
  <li class="social__item">
    <label for="wechat-popup" class="social__link js-open-popup">
      <span class="icon icon__social icon__social--we"></span>
    </label>
  </li>
</ul>