{% include 'partials/team/paulina-popup.njk' %}
{% include 'partials/team/roman-popup.njk' %}
{% include 'partials/team/stephan-popup.njk' %}

<section class="section team" id="section-team">
    <div class="container text-center">
        <h2 class="section__title margin-bottom--80" data-aos="zoom-in">Team of FuturoCoin</h2>
        <div class="row margin-bottom--80">
            <div class="col col-4 margin-bottom--70">
                {% include 'partials/team/paulina.njk' %}
                <label for="paulina-popup" class="js-open-popup">
                    <a class="team__read-more-link link">Read More</a>
                </label>
            </div>

            <div class="col col-4 margin-bottom--70">
                {% include 'partials/team/roman.njk' %}
                <label for="roman-popup" class="js-open-popup">
                    <a class="team__read-more-link link">Read More</a>
                </label>
            </div>

            <div class="col col-4 margin-bottom--70">
                {% include 'partials/team/stephan.njk' %}
                <label for="stephan-popup" class="js-open-popup">
                    <a class="team__read-more-link link">Read More</a>
                </label>
            </div>
        </div>
    </div>
</section>
