{% set cycler =  cycler(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35) %}
<section class="section">
    <div class="container">
        <h2 class="section__title margin-bottom--50 text-center" data-aos="zoom-in">FuturoCoin timeline</h2>

        <ul class="timeline margin-bottom--60">

            <li class="timeline__item {% if cycler.next() % 2 == 0 %}timeline__item--even{% endif %} timeline__item--margin-50" data-aos="fade-right" data-aos-delay="300">
                <img src="./images/timeline/event.png?v={{ config.assetsVersion }}" alt="FTO Conference in Warsaw" class="margin-bottom--30" width="100">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">28.02.2019</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">FTO Conference in Warsaw</h3>
                <p class="text-font--14 margin-bottom--20">First FTO & Blockchain Conference for traders, cryptocurrency enthusiasts and IT professionals.</p>
                {#<a href="" class="text-font--14 link">Read more</a>#}
            </li>

            <li class="timeline__item {% if cycler.next() % 2 == 0 %}timeline__item--even{% endif %} " data-aos="fade-left" data-aos-delay="300">
                <img src="./images/timeline/formula.png?v={{ config.assetsVersion }}" alt="FuturoCoin sponsors F1 Red Bull Racing" class="margin-bottom--30" width="150">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">05.02.2019</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">FuturoCoin sponsors F1 Red Bull Racing</h3>
                <p class="text-font--14 margin-bottom--20">Cryptocurrency (FTO) became a sponsor of Formula One team for the first time in the history!</p>
                {#<a href="" class="text-font--14 link">Read more</a>#}
            </li>

            <li class="timeline__item {% if cycler.next() % 2 == 0 %}timeline__item--even{% endif %} timeline__item--margin-50" data-aos="fade-right" data-aos-delay="300">
                <img src="./images/timeline/paycoiner.png?v={{ config.assetsVersion }}" alt="FTO added to Paycoiner" class="margin-bottom--30">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">21.12.2018</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">FTO added to Paycoiner</h3>
                <p class="text-font--14 margin-bottom--20">If you have an online shop and want to accept payments in cryptocurrencies, especially in FuturoCoin - here comes the solution. FuturoCoin is added to Paycoiner, thanks to which you can pay and receive the payment in the online shop with implemented API.</p>
                {#<a href="" class="text-font--14 link">Read more</a>#}
            </li>

            <li class="timeline__item {% if cycler.next() % 2 == 0 %}timeline__item--even{% endif %}" data-aos="fade-left" data-aos-delay="300">
                <img src="./images/timeline/atm.svg?v={{ config.assetsVersion }}" alt="ATMs will support FuturoCoin" class="margin-bottom--30 icon__timeline icon__timeline--atm">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">03.09.2018</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">FuturoCoin ATM ATM</h3>
                <p class="text-font--14 margin-bottom--20">
                    You can buy FuturoCoin and BTC in ATM machines at
                    <a href="https://futurenetrestaurants.com/" class="text-font--14 link" target="_blank" rel="noopener noreferrer">FN Cafe</a>
                    and
                    <a href="http://aurelio.pl/" class="text-font--14 link" target="_blank" rel="noopener noreferrer">Aurelio Restaurant</a>
                </p>
            </li>

{#            <li class="timeline__item" data-aos="fade-left" data-aos-delay="300">
                <img src="./images/timeline/cafe.svg?v={{ config.assetsVersion }}" alt="Pay for your coffee with FuturoCoin / Café will accept FuturoCoin" class="margin-bottom--30 icon__timeline icon__timeline--cafe">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">19.05</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">Pay for your coffee with FuturoCoin / Café will accept FuturoCoin</h3>
                <p class="text-font--14 margin-bottom--20">
                    Café which will accept FTO as a payment method will open in Wroclaw, Poland.
                    FutureNet Café will be first from many places where you will be able to use FuturoCoin as a payment method.
                </p>
            </li>#}

{#            <li class="timeline__item" data-aos="fade-right" data-aos-delay="300">
                <img src="./images/logo/bitbay-timeline.png?v={{ config.assetsVersion }}" alt="FTO traded on BitBay" class="margin-bottom--30">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">Coming soon</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">FTO traded on BitBay</h3>
                <p class="text-font--14 margin-bottom--20">Start trading FuturoCoin on BitBay, one of the most popular cryptocurrency exchange platforms. We are still expanding our coin activity to simplify the start of using it.</p>
                #}{#<a href="" class="text-font--14 link">Read more</a>#}{#
            </li>
            <li class="timeline__item timeline__item--even" data-aos="fade-left" data-aos-delay="700">
                <img src="./images/timeline/webinar.svg?v={{ config.assetsVersion }}" alt="Webinar with FuturoCoin founders" class="margin-bottom--30">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">Coming soon</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">Webinar with FuturoCoin founders</h3>
                <p class="text-font--14 margin-bottom--20">During a webinar with FuturoCoin’s founders, Stephen and Roman will talk about development directions, plans and the future of FuturoCoin. Something you don’t want to miss!</p>
                #}{#<a href="" class="text-font--14 link">Go to coindeal.com and start trading</a>#}{#
            </li>#}

            <li class="timeline__item {% if cycler.next() % 2 == 0 %}timeline__item--even{% endif %}" data-aos="fade-left" data-aos-delay="300">
                <img src="./images/timeline/futurodice.svg?v={{ config.assetsVersion }}" alt="FuturoDice premieres" class="margin-bottom--30">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">27.08.2018</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">FuturoDice premieres</h3>
                <p class="text-font--14 margin-bottom--20">FuturoDice - register, try your luck and get a chance to win some cryptocurrencies, not only FTO.</p>
                {#<a href="" class="text-font--14 link">Read more</a>#}
            </li>

            <li class="timeline__item {% if cycler.next() % 2 == 0 %}timeline__item--even{% endif %} timeline__item--margin" data-aos="fade-right" data-aos-delay="300">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">20.07.2018</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">FuturoCoin on BitBay.net</h3>
            </li>
            <li class="timeline__item {% if cycler.next() % 2 == 0 %}timeline__item--even{% endif %}" data-aos="fade-right" data-aos-delay="300">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">18.07.2018</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">FuturoCoin on Exrates.me</h3>
            </li>

            <li class="timeline__item {% if cycler.next() % 2 == 0 %}timeline__item--even{% endif %}" data-aos="fade-left" data-aos-delay="300">
                <img src="./images/timeline/coinofmine.png?v={{ config.assetsVersion }}" alt="Coin of(f) Mine game goes live" class="margin-bottom--30" style="max-height: 50px;">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">28.06.2018</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">Coin of(f) Mine game goes live</h3>
                <p class="text-font--14 margin-bottom--20">Coin of(f) Mine is a mobile game that uses AR technology. Go out and explore the world to find FuturoCoins. Fight with opponents to be rewarded with a bigger amount of cryptocurrency, which you can send to your wallet. You can also upgrade your weapon and tools. Mining FuturoCoin in the real world!</p>
                <a href="https://coinofmine.futurocoin.com/#" class="text-font--14 link" target="_blank" rel="noopener noreferrer">Go to coinofmine.futurocoin.com and start playing</a>
            </li>

            <li class="timeline__item {% if cycler.next() % 2 == 0 %}timeline__item--even{% endif %}" data-aos="fade-right" data-aos-delay="300">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">20.06.2018</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">Electrum and paper wallet for FuturoCoin are ready to launch</h3>
            </li>

            <li class="timeline__item {% if cycler.next() % 2 == 0 %}timeline__item--even{% endif %}" data-aos="fade-right" data-aos-delay="300">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">10.06.2018</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">FTO listed on feixiaohao.com</h3>
            </li>
            <li class="timeline__item {% if cycler.next() % 2 == 0 %}timeline__item--even{% endif %}" data-aos="fade-right" data-aos-delay="300">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">08.06.2018</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">FuturoCoin listed on CoinMarketCap.com</h3>
            </li>

            <li class="timeline__item {% if cycler.next() % 2 == 0 %}timeline__item--even{% endif %}" data-aos="fade-right" data-aos-delay="300">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">14.05.2018</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">Highest price of FuturoCoin</h3>
                <p class="text-font--14 margin-bottom--20">1FTO = 0.004080 BTC, Network hashrate increases over 600%&nbsp;(600&nbsp;TH/s)</p>
            </li>
            <li class="timeline__item {% if cycler.next() % 2 == 0 %}timeline__item--even{% endif %}" data-aos="fade-right" data-aos-delay="300">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">08.05.2018</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">FCoinWallet testing is finished</h3>
            </li>

            <li class="timeline__item {% if cycler.next() % 2 == 0 %}timeline__item--even{% endif %}" data-aos="fade-right" data-aos-delay="300">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">01.05.2018</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">Highest FuturoCoin volumen, over 3250 BTC</h3>
            </li>
            <li class="timeline__item {% if cycler.next() % 2 == 0 %}timeline__item--even{% endif %}" data-aos="fade-right" data-aos-delay="300">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">29.04.2018</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">investing.com, coingecko.com, bitinfocharts.com - added FuturoCoin </h3>
            </li>

            <li class="timeline__item {% if cycler.next() % 2 == 0 %}timeline__item--even{% endif %}" data-aos="fade-right" data-aos-delay="300">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">23.04.2018</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">1st crypto-analitycs website added FuturoCoin (cryptocompare.com)</h3>
            </li>
            <li class="timeline__item {% if cycler.next() % 2 == 0 %}timeline__item--even{% endif %}" data-aos="fade-right" data-aos-delay="300">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">23.04.2018</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">Start of a series of educational videos about FuturoCoin</h3>
            </li>

            <li class="timeline__item {% if cycler.next() % 2 == 0 %}timeline__item--even{% endif %}" data-aos="fade-right" data-aos-delay="300">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">23.04.2018</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">FCoinWallet is testing</h3>
            </li>
            <li class="timeline__item {% if cycler.next() % 2 == 0 %}timeline__item--even{% endif %}" data-aos="fade-right" data-aos-delay="300">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">20.04.2018</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">FuturoCoin on Coinbe.net </h3>
            </li>

            <li class="timeline__item {% if cycler.next() % 2 == 0 %}timeline__item--even{% endif %}" data-aos="fade-left" data-aos-delay="300">
                <img src="./images/timeline/logo-circle.png?v={{ config.assetsVersion }}" alt="FTO traded on Coindeal Exchange" class="margin-bottom--30">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">18.04.2018</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">FTO traded on CoinDeal Exchange</h3>
                <p class="text-font--14 margin-bottom--20">In the interest of availability of FuturoCoin on cryptocurrency exchange platforms, we want to inform you, that you can trade FTO on CoinDeal.</p>
                <a href="https://coindeal.com/" class="text-font--14 link" target="_blank" rel="noopener noreferrer">Go to coindeal.com and start trading</a>
            </li>

            <li class="timeline__item {% if cycler.next() % 2 == 0 %}timeline__item--even{% endif %} timeline__item--margin-50" data-aos="fade-right" data-aos-delay="300">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">18.04.2018</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">New exchange coindeal.com added FuturoCoin</h3>
            </li>
            <li class="timeline__item {% if cycler.next() % 2 == 0 %}timeline__item--even{% endif %}" data-aos="fade-right" data-aos-delay="300">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">06.04.2018</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">FuturoCoin is added on piyasa.net</h3>
            </li>

            <li class="timeline__item {% if cycler.next() % 2 == 0 %}timeline__item--even{% endif %}" data-aos="fade-right" data-aos-delay="300">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">26.03.2018</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">Testing of Coin of(f) Mine is started</h3>
            </li>
            <li class="timeline__item {% if cycler.next() % 2 == 0 %}timeline__item--even{% endif %}" data-aos="fade-right" data-aos-delay="300">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">23.03.2018</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">Website redesign on futurocoin.com</h3>
            </li>

            <li class="timeline__item {% if cycler.next() % 2 == 0 %}timeline__item--even{% endif %}" data-aos="fade-right" data-aos-delay="300">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">11.03.2018</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">FuturoCoin on southxchange.com</h3>
            </li>
            <li class="timeline__item {% if cycler.next() % 2 == 0 %}timeline__item--even{% endif %}" data-aos="fade-right" data-aos-delay="300">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">13.02.2018</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">FuturoCoin upgrade to 1.0.2.0 version</h3>
            </li>

            <li class="timeline__item {% if cycler.next() % 2 == 0 %}timeline__item--even{% endif %}" data-aos="fade-right" data-aos-delay="300">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">07.02.2018</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">1st exchange accepting FuturoCoin (yobit.net)</h3>
            </li>
            <li class="timeline__item {% if cycler.next() % 2 == 0 %}timeline__item--even{% endif %}" data-aos="fade-right" data-aos-delay="300">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">06.02.2018</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">1st mining pool supported FuturoCoin started - pool.futurocoin.org</h3>
            </li>

            <li class="timeline__item {% if cycler.next() % 2 == 0 %}timeline__item--even{% endif %}" data-aos="fade-right" data-aos-delay="300">
                <img src="./images/timeline/explorer.svg?v={{ config.assetsVersion }}" alt="Blockchain Explorer" class="margin-bottom--30">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">31.01.2018</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">Blockchain Explorer</h3>
                <p class="text-font--14 margin-bottom--20">Blockchain Explorer is a web tool providing information about all made FuturoCoin blocks, addresses and transactions. It will help you check current block and provide insight into the flow of transactions.</p>
                {#<a href="" class="text-font--14 link">Read more</a>#}
            </li>

            <li class="timeline__item {% if cycler.next() % 2 == 0 %}timeline__item--even{% endif %}" data-aos="fade-right" data-aos-delay="300">
                <time datetime="2018-02-14 20:00" class="text-font--14 margin-bottom--10">31.01.2018</time>
                <h3 class="timeline__title text-font--24 margin-bottom--20">FuturoCoin starts its blockchain and explorer</h3>
            </li>


        </ul>
    </div>
</section>
