<section class="section section--negative section--negative-light section--shadow" id="section-white-paper">
    <div class="container text-center">
        <h2 class="section__title section__title--large margin-bottom--50" data-aos="zoom-in">Check FuturoCoin's white paper</h2>
        <div class="papers-bg">
            <div data-aos="zoom-in" data-aos-delay="200">
                <span class="icon icon__feature icon__feature--whitepaper margin-bottom--30"></span><br>
                <a href="download/FuturoCoin-whitepaper-26-02-19.pdf" class="button button--alternate" target="_blank" rel="noopener noreferrer">Check white paper</a>
            </div>
        </div>
    </div>
</section>
