{% include 'partials/shared/donate-popup.njk' %}
{% include 'partials/shared/wechat-popup.njk' %}
<nav class="header js-header js-mobile-nav--container">
    <a href="./" title="FuturoCoin" class="header__logo">
        <img src="./images/fto-logo.png?v={{ config.assetsVersion }}" alt="FuturoCoin" class="header__logo-image" width="150" height="50" />
    </a>
    <span class="header__price">FTO price today: <strong class="js-header-price"></strong></span>
    <span class="hamburger js-mobile-nav--switch">
        <span></span>
        <span></span>
        <span></span>
    </span>
    <ul class="nav header__content js-mobile-nav--nav">
        <li class="nav__item nav__item--dropdown">
            <span class="nav__link nav__link--dropdown">FuturoCoin</span>
            <ul class="nav__dropdown-list">
                <li class="nav__item nav__item--hidden-in-dropdown">
                    <a href="#section-white-paper" class="nav__link js-smooth-scroll-to">White Paper</a>
                </li>
                <li class="nav__item nav__item--hidden-in-dropdown">
                    <a href="#section-market-performance" class="nav__link js-smooth-scroll-to">Market Performance</a>
                </li>
                <li class="nav__item nav__item--hidden-in-dropdown">
                    <a href="#section-wallet" class="nav__link js-smooth-scroll-to">Download Wallet</a>
                </li>
                <li class="nav__item nav__item--hidden-in-dropdown">
                    <a href="https://explorer.futurocoin.com/insight/" class="nav__link" target="_blank" rel="noopener noreferrer">Explorer</a>
                </li>
               <li class="nav__item nav__item--hidden-in-dropdown">
                    <a href="https://stats.futurocoin.org/#/" class="nav__link">Stats</a>
                </li>
                <li class="nav__item nav__item--hidden-in-dropdown">
                    <a href="#" class="nav__link">Exchanges</a>
                </li>
                <li class="nav__item nav__item--hidden-in-dropdown">
                    <a href="#section-team" class="nav__link">About FTO</a>
                </li>
            </ul>
        </li>

        <li class="nav__item nav__item--dropdown">
            <span class="nav__link nav__link--dropdown">Projects</span>
            <ul class="nav__dropdown-list">
                <li class="nav__item nav__item--hidden-in-dropdown">
                    <a href="https://ftoacademy.futurocoin.com/" class="nav__link" target="_blank">FTO Academy</a>
                </li>
                <li class="nav__item nav__item--hidden-in-dropdown">
                    <a href="https://futurotrader.com/" class="nav__link">FuturoTrader</a>
                </li>
            </ul>
        </li>

        <li class="nav__item nav__item--dropdown">
            <span class="nav__link nav__link--dropdown">Solutions</span>
            <ul class="nav__dropdown-list">
                <li class="nav__item nav__item--hidden-in-dropdown">
                    <a href="https://atm.futurocoin.com/" class="nav__link" target="_blank" rel="noopener noreferrer">ATM</a>
                </li>
                <li class="nav__item nav__item--hidden-in-dropdown">
                    <a href="#" class="nav__link" target="_blank" rel="noopener noreferrer">Wallets</a>
                </li>
                <li class="nav__item nav__item--hidden-in-dropdown">
                    <a href="#" class="nav__link" target="_blank" rel="noopener noreferrer">Charity</a>
                </li>
                <li class="nav__item nav__item--hidden-in-dropdown">
                    <a href="https://conference.futurocoin.com/" class="nav__link" target="_blank" rel="noopener noreferrer">Conferences</a>
                </li>
            </ul>
        </li>

        <li class="nav__item nav__item--dropdown">
            <span class="nav__link nav__link--dropdown">News</span>
            <ul class="nav__dropdown-list">
                <li class="nav__item nav__item--hidden-in-dropdown">
                    <a href="#press-about-us" class="nav__link js-smooth-scroll-to">Press About Us</a>
                </li>
                <li class="nav__item  nav__item--hidden-in-dropdown">
                    <a href="https://newsroom.futurocoin.com/" class="nav__link js-smooth-scroll-to">Newsroom</a>
                </li>
                <li class="nav__item nav__item--hidden-in-dropdown">
                    <a href="#section-newsletter" class="nav__link js-smooth-scroll-to">Newsletter</a>
                </li>
            </ul>
        </li>

        {# <li class="nav__item">
            <label for="donate-popup" class="nav__link js-open-popup">Donate</label>
        </li> #}
    </ul>
    <div class="header__icons social social--hover social--scale">
        {% include 'partials/index/social.njk' %}
    </div>
</nav>

