.cookie {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #3c3c3c;
  color: #fff;
  font-size: 16px;
  padding: 40px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  transition: 0.5s;
  transform: translateY(100%);

  &--show {
    transform: translateY(0);
  }

  &__message {
    margin-bottom: 40px;
  }

  &__dismiss {
    display: inline-flex;
    flex: 0 0 auto;
  }

  @media (min-width: 768px) {
    flex-flow: row nowrap;

    &__message {
      margin-bottom: 0;
    }

    &__dismiss {
      margin-left: 40px;
    }
  }
}
