.feature__container {
    padding-left: 45px;
    padding-right: 45px;

    @include media-breakpoint-down(xl) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.img-container {
    font-size: 0;
}

.team {
    position: relative;
    background: #0c9acf;
    &::before {
        @include cover-absolute;
        @include parallax(url(../images/bg/people.png?v=#{$assetsVersion}));
        mix-blend-mode: screen;
        transform: scale(1.1);
    }

    &__image {
        display: inline-flex;
        width: 180px;
        height: 180px;
        border-radius: 50%;
    }

    &__person {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__person-description {
        @include media-breakpoint-up(md) {
            min-height: 280px;
        }
        @include media-breakpoint-up(lg) {
            min-height: 220px;
        }
        @include media-breakpoint-up(xl) {
            min-height: 200px;
        }
        overflow: hidden;
        position: relative;
        
        &-intro ~ p {
            display: none;
        }
    }

    &__read-more-link {
        cursor: pointer;
        transition: $transition-time;
    }

    &__popup-container {
        width: 80%;
        
        @include media-breakpoint-up(lg) {
            width: 70%;
        }
        @include media-breakpoint-up(xl) {
            width: 60%;
        }

        .team__person-description {
            text-align: center;

            p {
                display: block;
            }
            
            .section__header {
                color: $txt-primary-neg;
            }
        }
    }
}

.price {
    color: $price;
}

.currency-logos {
    > * {
        //flex: 1 1 30%;
        width: auto;
    }

    @include media-breakpoint-down(lg) {
        flex-flow: row wrap;
        justify-content: space-between;

        > * {
            flex: 1 0 25%;
            padding: 0 10px;
            margin: 0 0 10px 0;
        }
    }

    @include media-breakpoint-down(md) {
        flex-flow: column;
        > * {
            flex: 1 1 auto;
            padding: 0;
        }
    }
}

.partners-logos {
    flex-flow: row wrap;

    > * {
        padding: 0 30px;
        margin-bottom: 30px;
        filter: grayscale(100%);

        &:hover {
            filter: none;
        }
    }

    &__image {
        height: 55px;
    }
}

.papers-bg {
    background: url(../images/bg/whitepaper-bg.png) 50% 100% no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
}

.coming-soon {
    position: relative;
    &::after {
        content: 'coming soon';
        position: absolute;
        top: 0;
        right: 20px;
        color: $coming-soon;
        font-weight: 500;
        font-size: 14px;
        line-height: 1;
    }

    &--right {
        padding-right: 80px;
        &::after {
            right: -10px;
        }
    }
}

.press {
    &__divider {
        display: block;
        margin: auto;
        height: 1px;
        width: 100%;
        background-color: $wallet-border;
    }

    &__logos {
        flex-flow: row wrap;
        overflow: hidden;
        max-height: 80px;
        margin-left: -25px;
        margin-right: -25px;

        > * {
            padding: 0 25px 50px 25px;
            margin: 0;
        }

        &--show {
            max-height: 5000px;
            transition: max-height $transition-time*15 ease-out;
        }
    }

    &__image {
        max-height: 80px;

        @include media-breakpoint-up(lg) {
            max-height: 90px;
        }
        @include media-breakpoint-up(xl) {
            max-height: 95px;
        }

        &--show {
            max-height: 120px;
        }
    }

    &__logo-details {
        @include media-breakpoint-up(md) {
            width: 33.3%;
        }

        @include media-breakpoint-up(lg) {
            width: 25%;
        }
    }

    &__link {
        display: flex;
        flex-direction: column;
    }

    &__read {
        text-decoration: underline;
        margin-bottom: 10px;
        display: none;
    }

    &__posted-on {
        color: $txt-light;
        display: none;
    }
  }
