.hamburger {
    cursor: pointer;
    width: 23px;
    height: 20px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    display: none;

    > * {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: #fff;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        transform-origin: left center;

        &:nth-child(1) {
            top: 2px;
        }

        &:nth-child(2) {
            top: 8px;
        }

        &:nth-child(3) {
            top: 14px;
        }
    }

    &.open {
        > * {
            &:nth-child(1) {
                transform: rotate(45deg);
                top: 2px;
                left: 2px;
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
                top: 18px;
                left: 2px;
            }
        }
    }

    @include media-breakpoint-down(lg) {
        display: block;
        transform: scale(1.5);
        transform-origin: 100% 50%;
    }
}




