.header {
    $h: &;

    background: $bg-primary;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 35px 45px;
    position: sticky;
    top: 0;
    z-index: 1;
    transition: $transition-time;

    &__logo,
    &__logo-image {
        flex: 0 0 auto;
        display: block;
    }

    &__content {
    }

    &__price {
        margin: 6px auto 0 45px;
        color: $txt-primary;
        font-size: 19px;
        font-weight: 500;
        line-height: 1;
    }

    &__icons {
        z-index: -1;
        position: absolute;
        right: 0px;
        top: 60%;
    }

    

    @include media-breakpoint-down(lg) {
        position: relative;

        #{$h} {
            &__icons {
                right: 0;
                top: 80%;
                width: 100%;
            }
        }

        .nav {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            z-index: 100;
            display: none;

            &__item {
                width: 100%;
                margin: 0;
                background: #fff;
            }

            &__link {
                display: block;
                position: relative;
                padding: 18px 45px 18px 25px;
                text-align: right;
                opacity: 1;
                color: #969696;
                border-bottom: 1px solid #edecec;
                font-family: Arial;
                &--dropdown {
                    color:$txt-primary-neg;
                    padding-top: 40px;
                    padding-bottom: 8px;
                }
            }
        }
    }

    @include media-breakpoint-down(sm) {
        &__logo {
            max-width: calc(100% - 60px);
        }

        &__price {
            display: none;
        }

        &__icons {
            display: none;
        }
    }

    &--f1 {
        background: linear-gradient(to bottom, #101d2b, rgba(0, 0, 0, 0));
        height: 189px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        align-items: flex-start;
        padding: 50px 45px 65px 45px;
        z-index: 3;
        
        @include media-breakpoint-down(lg) {
            position: absolute;
            padding-left: 0;
            padding: 20px 20px 65px 0px;
            #{$h} {

                &__logo-image {
                    transform: scale(0.7);
                }

                &__price {
                    font-size: 16px;
                    margin-top: 3px;
                }
            }
    
        }
        
        .link--f1 {
            position: relative;
            text-align: right;
            text-transform: uppercase;
            font-size: 7px;
            width: 35px;
            height: 17px;

            &::before {
                @include cover-absolute();
                right: 22px;
                left: auto;
                top: 3px;
                width: 24px;
                background: url(../images/f1/arrowleft.png?v=#{$assetsVersion}) no-repeat;
                background-size: 12px 10px;
            }

            @include media-breakpoint-up(lg) {
                width: 45px;
                height: 24px;
                font-size: 10px;

                &::before {
                    top: 7px;
                    right: 35px;
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .nav {
            display: flex !important;
        }

        &--slim {
            padding: 20px 45px 20px 22px;

            #{$h} {
                &__icons {
                    display: none;
                }
            }
        }
    }
}