.nav {
    $block: &;

    font-size: 16px;
    color: $txt-primary;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;

    &__item {
        margin: 0 40px 0 0;
        position: relative;
        width: 100%;
        
        &:last-child {
            margin-right: 0;
        }

        &--copyright {
            opacity: 0.8;
        }

        @include media-breakpoint-down(xl) {
            margin-right: 25px;
            font-size: 15px;
        }

        @include media-breakpoint-up(lg) {
            &--dropdown {

                &:last-child {
                    .nav__dropdown-list {
                        left: 0;
                        transform: translate(-50%, 0);
                        animation-name: dropdown-slide-for-last-child;
                    }
                }

                &:hover {
                    .nav__dropdown-list {
                        display: block;
                    }
                }
            }
        }

        &--hidden-in-dropdown {
            @include media-breakpoint-up(lg) {
                overflow: hidden;

                &:first-child {
                    margin-top: 10px;
                }
            }
        }

        &--hidden-in-dropdown {
            @include media-breakpoint-up(lg) {
                &:first-child {
                    margin-top: 10px;
                }

                a {
                    background: $txt-primary;
                    color: rgba($bg-primary, 0.8);
                    transition: $transition-time;
                    padding: 10px 20px;
                    opacity: 1;
                    display: block;
                    &:hover {
                        background: $link;
                        color: $txt-primary;
                    }
                }

                &:first-child {
                    border-radius: 2px 2px 0 0;
                }

                &:last-child {
                    border-radius: 0 0 2px 2px;
                }
            }
        }
    }

    &__dropdown-list {
        @include media-breakpoint-up(lg) {
            position: absolute;
            display: none;
            left: -50%;
            transform: translate(0, 0);
            animation: dropdown-slide 0.3s;
        }
    }

    &__link {
        opacity: 0.8;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }

        &--dropdown {
            font-weight: 700;
            font-size: 18px;
            text-transform: uppercase;
            text-decoration: underline;
            cursor: initial;
            
            @include media-breakpoint-up(lg) {
                font-weight: initial;
                font-size: initial;
                text-transform: initial;
                text-decoration: initial;
                cursor: pointer;
            }
        }
    }

    &--slim {
        #{$block}__item {
            margin-right: 30px;
        }
    }
}