.news {
    $n: &;

    &__item {
        position: relative;
        display: block;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
        width: 100%;
        padding-top: 52%;
        height: 0;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -100px 0 0 -100px;
            width: 200px;
            height: 200px;
            background: url(../images/icon/throbber.svg) 0 0 no-repeat;
            background-size: cover;
            opacity: 0.5;
        }

        &:hover {
            #{$n}__image {
                transform: scale(1.1);
            }
        }
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: 50%;
        transition: $transition-time;
        opacity: 0;

        &--loaded {
            opacity: 1;
        }
    }

    &__title {
        font-size: 23px;
        font-weight: 500;
        color: $txt-primary;
        margin-bottom: 5px;
        line-height: 1.1;
    }

    &__text-container {
        padding: 20px;

        .section__header {
            line-height: 1;
            margin-bottom: 10px;
        }
    }

    &__more-button {
        margin-top: 20px;
    }

    &__more-container {
        display: none;
    }

    @include media-breakpoint-down(xl) {
        &__title {
            font-size: 18px;
        }
    }

    @include media-breakpoint-down(lg) {
        &__item-col {
            width: 50% !important;
        }

        &__text-col {
            width: 100% !important;
            margin: 30px 0;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 20px;
            }

            .news__text-container {
                padding: 0 !important;
            }
        }
    }

    @include media-breakpoint-down(md) {
        &__image {
            width: 100%;
        }
    }
}
