.popup {
    $block: &;

    &__trigger {
        display: none;

        ~ #{$block}__container,
        ~ #{$block}__hide {
            opacity: 0;
            visibility: hidden;
            max-height: 0;
        }

        &:checked {
            ~ #{$block}__container,
            ~ #{$block}__hide {
                opacity: 1;
                visibility: visible;
                max-height: 9999px;
            }
        }
    }

    &__container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow-y: auto;
        padding: 55px 35px 35px 35px;
        transition: 0.3s;
        z-index: 1;
    }

    &__close {
        position: absolute;
        top: 35px;
        right: 35px;
        z-index: 1;
        color: inherit;
        font-weight: 900;
        font-size: 30px;
        text-transform: uppercase;
        cursor: pointer;
        line-height: 1;
        transition: $transition-time;

        &:hover {
            color: $bg-primary;
        }
    }

    &__apply {
        text-align: right;
        margin-top: auto;
    }

    > * {
        z-index: 201;
    }

    &__hide {
        content: '';
        background: rgba(255,255,255,0);
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 200;
    }

    &__body {
        height: 100%;
        overflow: hidden;
    }

    &--conference {
        #{$block} {
            &__container {
                background: none;
                transition: 1s;
                padding: 20px;
            }

            &__inner {
                position: relative;
                background: url(../images/bg/conference.jpg?v=#{$assetsVersion}) 50% 50% no-repeat;
                background-size: cover;
                box-shadow: 0 0 40px rgba(#000, 0.3);
                border-radius: 5px;
                padding: 50px 20px;
            }

            &__close {
                color: $txt-primary;
                margin: -15px -15px 0 0;

                &:hover {
                    color: $bg-primary;
                }
            }

            @include media-breakpoint-up(md) {
                &__container {
                    background: none;
                    padding: 55px 35px 35px 35px;
                }

                &__close {
                    margin: 0;
                }

                &__inner {
                    max-width: 1200px;
                  padding: 50px;
                }
            }


            &__title {
                font-size: 40px;
                color: $txt-primary;
                line-height: 1;
                @include media-breakpoint-up(md) {
                    font-size: 55px;
                }
                @include media-breakpoint-up(lg) {
                    font-size: 72px;
                }
            }

            &__text {
                font-size: 20px;
                color: $txt-primary;

                @include media-breakpoint-up(md) {
                    font-size: 25px;
                }

                @include media-breakpoint-up(lg) {
                    font-size: 33px;
                }

                &--orange {
                    color: $coming-soon;
                }
            }
        }
    }

    &--transparent {
        #{$block} {
            &__container {
                background: none;
                padding: 20px;
                background: rgba(0,0,0,0.7);
            }

            &__close {
                top: 10px;
                right: 10px;
            }

            &__inner {
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 100%;

                &-container {
                    position: relative;
                    padding: 20px;
                    background: $bg-neg;
                    border-radius: 4px;
                }
            }
        }
    }
}
