.slider {
    //height: calc(100vh - 126px);
    min-height: calc(100vh - 126px);
    text-align: center;
    position: relative;
    padding-top: 100px;
    padding-bottom: 200px;

    &::before {
        @include cover-absolute;
        background: url(../images/bg/slider-f1.jpg?v=#{$assetsVersion}) 50% 100% no-repeat;
        background-size: cover;
        mix-blend-mode: lighten;
    }

    &__scroll {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        &-icon {
            animation: pulse 2s infinite;
            margin-bottom: 20px;
        }
    }

    &__video {
        overflow: hidden;
        position: absolute;

        @include media-breakpoint-down(xl) {
            width: auto;
            height: 100%;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0) scale(1.4);
        }

        @include media-breakpoint-up(xl) {
            width: 100%;
            height: auto;
            top: 50%;
            left: 0;
            transform: translate(0, -50%) scale(1.15);
        }
    }

    // &__particles {
    //     @include cover-absolute();
    //     top: auto;
    //     height: 100%;
    //     bottom: 0;
    // }

    &__cover {
        @include cover-absolute();
        background: linear-gradient(to bottom, rgba(27, 89, 157 , 1) 5%, rgba(27, 89, 157, 0), rgba(27, 89, 157 , 1));
    }

    @include media-breakpoint-down(lg) {
        height: auto;
        padding-top: 50px;
    }

    @include media-breakpoint-down(sm) {
        padding-top: 20px;
    }
}