.social {
    $s: &;

    &__list {
        display: flex;
        justify-content: center;
        flex-flow: row nowrap;
    }

    &__item {
        margin-right: 12px;
        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        display: block;
        padding: 10px;
        cursor: pointer;
    }

    &--wrap {
        #{$s} {
            &__list {
                flex-wrap: wrap;
            }
        }
    }

    &--scale {
        @include media-breakpoint-up(lg) {
            transform: scale(0.9);
        }

        @include media-breakpoint-down(lg) {
            transform: scale(1);
        }

        @include media-breakpoint-down(md) {
            transform: scale(0.95);
        }
    }

    &--hover {
        #{$s} {
            &__item {
                opacity: 0.3;
                transition: $transition-time;
    
                &:hover {
                    opacity: 1;
                }
            }      
        }  
    }
}