.padding-top--90{
  padding-top: 90px !important;
}

.padding-bottom--90{
  padding-bottom: 90px !important;
}

.bg-base{
  background-color: $bg-primary;
}

.full-container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 252px);
}