.wallet {
  padding-left: 5px;
  padding-right: 5px;
  width: 33.33333%;

  &__container {
    display: flex;
    flex-flow: column nowrap;
    padding: 50px 35px;
    border: 1px solid $wallet-border;
    height: 100%;
    align-items: center;
  }

  @include media-breakpoint-down(lg) {
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  &__download {
    flex-flow: row wrap;

    > * {
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}