.f1-details {
  $f1details: &;

  &__intro {
    @include media-breakpoint-down(md) {
      text-align: left;
    }

    @include media-breakpoint-up(lg) {
      width: 500px;
      margin-bottom: 64px;
    }
  }

  &__rb-fto-partners {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include media-breakpoint-down(lg) {
      text-align: left;
    }

    @include media-breakpoint-up(lg) {
      flex-wrap: nowrap;
      flex-direction: row-reverse;
      justify-content: center;
      margin-bottom: 64px;

      #{$f1details} {
        &__text {
          width: 486px;
          margin-right: 32px;
        }
      }
    }
  }

  &__logo-img {
    display: block;
    width: 486px;
    margin-left: 32px;

    @include media-breakpoint-down(lg) {
      margin: 0 auto;
    }
  }

  &__rbdriver {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    #{$f1details} {
      &__title {
        position: absolute;
        top: 60px;
        left: 125px;
        text-align: left;

        @include media-breakpoint-up(sm) {
          left: 215px;
        }

        @include media-breakpoint-up(md) {
          top: 30px;
          left: 355px;
        }

        @include media-breakpoint-up(xl) {
          top: 60px;
          left: 455px;
        }
      }
    }

    #{$f1details} {
      &__text {
        text-align: left;

        @include media-breakpoint-up(md) {
          position: absolute;
          top: 85px;
          left: 330px;
          text-align: center;
          width: 450px;
        }
        
        @include media-breakpoint-up(xl) {
          top: 115px;
          left: 430px;
        }
      }
    }
  }

  &__rbdriver-img {
    position: relative;

    @include media-breakpoint-down(sm) {
      left: -30px;
      width: 174px;
      height: 249px;
    }

    @include media-breakpoint-up(sm) {
      width: 230px;
      height: 332px;
    }

    @include media-breakpoint-up(md) {
      left: 100px;
    }

    @include media-breakpoint-up(xl) {
      width: 346px;
      height: auto;
    }
  }

  &__rbcars {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include media-breakpoint-down(sm) {
      padding: 0 !important;

      #{$f1details} {
        &__text {
          padding: 0 20px;
        }
      }
    }

    @include media-breakpoint-up(md) {
      padding-top: 35px;
    }

    @include media-breakpoint-up(lg) {
      margin-top: -150px;
      margin-bottom: 30px;

      #{$f1details} {
        &__text {
          width: 45%;
          align-self: center;
          order: 3;
          padding-left: 30px;
          margin-top: -60px;
        }
      }
    }

    @include media-breakpoint-up(xl) {
      margin-top: -250px;
    }
  }

  &__rbcar-img {
    width: 100%;
    height: 100%;

    @include media-breakpoint-up(sm) {
      width: 460px;
    }

    @include media-breakpoint-down(lg) {
      &:last-child {
        content: url(../images/f1/rbcar2.jpg?v=#{$assetsVersion});
      }
    }

    @include media-breakpoint-up(lg) {
      width: 536px;

      &:first-child {
        width: 55%;
        margin: 0 0 0 auto;
      }

      &:last-child {
        margin-top: -65px;
        width: 55%;
      }
    }
  }
}