.f1 {
    background: url(../images/f1/f1-section-bg.jpg?v=#{$assetsVersion}) no-repeat;
    background-size: cover;  
    position: relative;

    &__title {
      font-size: 18px;

      @include media-breakpoint-up(md) {
        font-size: 24px;
      }

      @include media-breakpoint-up(lg) {
        font-size: 30px;
      }

      &--preview {
        font-size: 24px;

        @include media-breakpoint-up(md) {
          font-size: 34px;
        }
      
        @include media-breakpoint-up(lg) {
          font-size: 48px;
        }  
      }
    }

  &__text {
    font-size: 14px;
    line-height: 1.46;

    @include media-breakpoint-up(lg) {
      font-size: 16px;
    }

    &--preview {
      line-height: 1.76;
      font-size: 16px;
    
      @include media-breakpoint-down(sm) {
        margin-bottom: 100px !important;
      }
    
      @include media-breakpoint-up(lg) {
        font-size: 18px;
      }
    }
  }

  &__colorful-points-img {
    position: absolute;
    top: 0;
    right: 60px;

    @include media-breakpoint-down(xl) {
      right: 0px;
    }
    
    @include media-breakpoint-down(md) {
      right: -80px;
    }

    @include media-breakpoint-down(sm) {
      right: -130px;
    }
  }
}

.beams {
  &__item {
    width: 390px;
    height: 2.5px;
    background: linear-gradient(to right, rgba(255, 197, 0, 0), #ffc500);
    transform: rotate(-45deg) translate(0);
    transform-origin: center;
    opacity: 0.5;
    position: absolute;
    top: 160px;
    left: 0;
    z-index: 1;
    
    &::before {
      transform: translate(386px, -3px);
      content: '';
      display: block;
      width: 9px;
      height: 9px;
      background-color: #ffc500;
      border-radius: 50%;
    }

    &:nth-child(1) {
      top: 120%;
      left: 20%;
    }
    &:nth-child(2) {
      top: 65%;
      left: 3%;
    }
    &:nth-child(3) {
      top: 45%;
      left: -15%;
    }
    &:nth-child(4) {
      top: 80%;
      left: 45%;
    }
    &:nth-child(5) {
      top: 20%;
      left: 15%;
    }
    &:nth-child(6) {
      top: 160%;
      left: 0;
    }
    &:nth-child(7) {
      top: 55%;
      left: 65%;
    }
    &:nth-child(8) {
      top: 45%;
      left: 50%;
    }
  }
}