.f1-preview {
  min-height: 100vh;
  position: relative;
  padding: 55px 0 20px 0;

  &::before {
    @include cover-absolute;
    background: url(../images/bg/slider-f1.jpg?v=#{$assetsVersion}) 50% 100% no-repeat;
    background-size: cover;
  }

  &__cover {
    @include cover-absolute();
    background: url(../images/f1/f1-cover.png?v=#{$assetsVersion}) no-repeat;
    background-size: cover;

    @include media-breakpoint-down(lg) {
      background: url(../images/f1/f1-cover-mobile.png?v=#{$assetsVersion}) no-repeat;
      background-size: cover;
    }

    &::after {
      @include cover-absolute();
      top: 30%;
      background: linear-gradient(to bottom, rgba(16, 29, 43, 0), #101d2b);
      background-size: 100% 71%;
      z-index: 2;
    }
  }

  .container {
    padding-top: 25%;
    z-index: 2;

    @include media-breakpoint-up(sm) {
      padding-top: 20%;
      width: 518px;
      margin: 0 10%;
    }

    @include media-breakpoint-up(lg) {
      width: 650px;
      padding-top: 10%;
    }
  }

  &__button {
    font-size: 12px;
    width: 145px;
    height: 40px;
    border: solid 2px $bg-f1-secondary;
    padding: 12px 31px;
    display: block;
    margin: 0px auto;

    @include media-breakpoint-up(sm) {
      margin: 0;
    }
  }
}