.f1-summary {
  $f1summary: &;

  padding-top: 0;

  &__list {
    #{$f1summary} {
      &__title {
        @include media-breakpoint-up(md) {
          padding-top: 30px;
        }
      }

      &__text {
        padding-left: 16px;
        position: relative;
  
        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 4px;
          left: 0;
          width: 4px;
          height: 4px;
          border: solid 2px #ffc500;
          transform: rotate(45deg);

          @include media-breakpoint-up(lg) {
            top: 7px;
            width: 5px;
            height: 5px;
          }
        }
      }
    }
  }

  &__logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-up(md) {
      flex-direction: row;

      a {
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    @include media-breakpoint-up(lg) {
      a {
        margin-right: 70px;
      }
    }  
  }  
}