<label id="conference-popup-trigger" for="conference-popup" class="js-open-popup" style="display: none;">Show conference popup</label>

<div class="popup popup--conference">
    <input type="checkbox" id="conference-popup" class="popup__trigger">
    <div class="popup__container content section">
        <div class="flex-centered__wrapper">
            <div class="flex-centered__content text--center popup__inner">
                <label for="conference-popup" class="popup__close js-close-popup js-hide-conference-popup">✖</label>

                <img src="./images/logo/conference.png?v={{ config.assetsVersion }}"
                     alt="FuturoCoin Conference"
                     class="margin-bottom--30 shadow"
                     width="240"
                >

                <p class="margin-bottom--30 popup__title">Stay tuned for more info!</p>
                <a href="https://conference.futurocoin.com/?utm_source=popup&utm_medium=referral"
                   target="_blank"
                   rel="noopener noreferrer"
                   class="button button--popup margin-bottom--30"
                >JOIN NOW!</a>

                <p class="popup__text">Where? Warsaw, Poland</p>
                <p class="popup__text margin-bottom--20">When? 28th Feb 2019</p>
                <a href="https://conference.futurocoin.com/"
                   target="_blank"
                   rel="noopener noreferrer"
                   class="popup__text popup__text--orange"
                >conference.futurocoin.com</a>
            </div>
        </div>
    </div>
</div>

