<div class="cookie js-cookie">
    <div class="cookie__message">
        This website uses cookies to ensure you get the best experience on our website. <a href="https://futurenet.club/terms-and-conditions" target="_blank" rel="noopener noreferrer" class="link">Learn more</a>
    </div>
    <button class="button button--alternate cookie__dismiss js-cookie-dismiss">
        Got it!
    </button>
</div>
