<div class="popup">
    <input type="checkbox" id="donate-popup" class="popup__trigger">
    <div class="popup__container content section section--negative">
        <label for="donate-popup" class="popup__close js-close-popup">✖</label>

        <div class="text-center margin-top--30 margin-bottom--30">
            <img src="./images/partners/futurenet-foundation-color.png?v={{ config.assetsVersion }}" alt="FutureNet Foundation" class="margin-bottom--20" width="250">
            <p class="margin-bottom--50 text-font--20 text-mark">Make a donation to FutureNet Foundation for statutory purposes.</p>

            <p class="section__title margin-bottom--20">QR code:</p>
            <img src="./images/qr-code.png?v={{ config.assetsVersion }}" alt="QR Code" class="margin-bottom--40">

            <p class="section__title margin-bottom--20">Wallet address:</p>
            <p class="text-font--20 text-mark">FsSUqkF2sWu3nzHtgVSxQsUBqoTQvzFa2c</p>
        </div>
    </div>
</div>
