<div class="popup popup--transparent">
    <input type="checkbox" id="wechat-popup" class="popup__trigger">
    <div class="popup__container content section section--negative">
        <div class="popup__inner">
            <div class="popup__inner-container">
                <label for="wechat-popup" class="popup__close js-close-popup">✖</label>

                <div class="text-center">
                    <div class="futurocoin-logo margin-bottom--50">
                        <img src="./images/favicon.png?v={{ config.assetsVersion }}"
                             alt="FuturoCoin"
                             class="futurocoin-logo__image"
                        >
                        <p class="futurocoin-logo__text section__title">FuturoCoin</p>
                    </div>

                    <img src="./images/wechat-qr.png?v={{ config.assetsVersion }}"
                         alt="QR Code"
                         class="margin-bottom--40 qr-code"
                    >

                    <p class="text-font--24">Scan the QR Code to add me on WeChat</p>
                </div>
            </div>

        </div>
    </div>
</div>
