.list {
  &__item {
    margin: 10px 0 10px 0;
    line-height: 1.3;
    position: relative;
    padding-left: 20px;
  }

  &__content {
    color: $header;
    font-weight: 500;
  }

  &__counter {
    color: $header;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 500;
  }

  .list {
    margin-bottom: 30px;

    .list {
      margin-bottom: 10px;
    }
  }
}