$margin: 0 10 20 25 30 35 40 50 60 65 70 80 90;
.margin {
    @each $m in $margin {
        &-bottom {
            &--#{$m} {
                margin-bottom: #{$m}px !important;
            }
        }

        &-top {
            &--#{$m} {
                margin-top: #{$m}px !important;
            }
        }
    }

    @include media-breakpoint-down(md) {
        @each $m in $margin {
            &-bottom-md-down {
                &--#{$m} {
                    margin-bottom: #{$m}px !important;
                }
            }
        }
    }

    &-top--auto {
        margin-top: auto !important;
    }

    &-bottom--auto {
        margin-bottom: auto !important;
    }
}


.flex {
    &-row {
        display: flex;
        flex-flow: row nowrap;

        > * {
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
        }

        > .margin-large {
            margin-right: 40px;
        }
    }

    &-column {
        display: flex;
        flex-flow: column nowrap;
    }

    &-inline {
        display: inline-flex;
    }

    &-center {
        justify-content: center;
    }

    &-space-between {
        justify-content: space-between;
    }

    &--items-center {
        align-items: center;
    }

    &-centered {
        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 100%;
        }

        &__content {
            width: 100%;
        }
    }

    @include media-breakpoint-down(md) {
        &-row {
            flex-flow: column;

            > * {
                margin: 0 0 20px 0;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.hidden {
    display: none !important;
}

.js-news-template {
    display: none;
}

.shadow {
    filter: drop-shadow(1px 1px 0 rgba(0,0,0,0.9));
}

.qr-code {
    max-width: 300px;
    width: 100%;
    height: auto;
}

.futurocoin-logo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    &__image {
        margin-right: 20px;
    }
}
