<div class="team__person">
  <img src="./images/team/paulina-wozniak.jpg?v={{ config.assetsVersion }}" alt="Paulina Woźniak" class="team__image margin-bottom--20" data-aos="fade-right" data-aos-delay="100">
  <div class="team__person-description" data-aos="fade-left" data-aos-delay="100">
    <h4 class="section__header text-font--24">Paulina Woźniak</h4>
    <p class="text-font--14 margin-bottom--20">CEO&amp;CTO FuturoCoin</p>
    <p class="margin-bottom--10 team__person-description-intro">The CEO and CTO of FTO - cryptocurrency that she promotes in the whole world. She received a PhD from SGH Warsaw School of Economics. She has a professional experience spanning 20 years that she has been gathering in many different businesses.</p>
    <p class="margin-bottom--10">Among the others, she achieved remarkable results in HR field. For the past couple of years she has been an expert in cryptocurrencies and actively participates in various conferences regarding this topic. Moreover, she specializes in implementation of innovative approach to business and creating a modern personal policy in compliance with organizational management. In her free time she likes to read books about human psychology.</p>
  </div>
</div>
