<div class="team__person">
  <img src="./images/team/roman-ziemian.jpg?v={{ config.assetsVersion }}" alt="Roman Ziemian" class="team__image margin-bottom--20" data-aos="fade-down" data-aos-delay="300">
  <div class="team__person-description" data-aos="fade-up" data-aos-delay="300">
    <h4 class="section__header text-font--24">Roman Ziemian</h4>
    <p class="text-font--14 margin-bottom--20">FTO Creator</p>
    <p class="margin-bottom--10 team__person-description-intro">Roman Ziemian was born in 1973 in Jelenia Góra. He was raised in a multi-child family and is the oldest of 7 siblings. From a very young age he was taught what it means to work hard and that every hard-working person deserves respect.</p>
    <p class="margin-bottom--10">He started his first company when he was just 15 years old (and registered it using the personal data of his older friend).</p>
    <p class="margin-bottom--10">As a highly capable and busy boy he didn’t have any difficulties with combining his interest in business with learning. He was absolutely fascinated with the magnitude of possibilities that apparead in Poland after the political transformation at the end of the 1980’s.</p>
    <p class="margin-bottom--10">His business searching led him to Germany, where he arrived while being 20 years old. He established a thriving and dynamically expanding construction company. Thanks to its existence he was able to carry out many prestigious contracts in France, Switzerland, Sweden, Austria and Cyprus. That’s when he gathered precious experience in terms of communication at an international level.</p>
    <p class="margin-bottom--10">Even after many years in the world of constant searching, travels and big business - Roman remained a very warm person and a family man. He has a wife and three sons.</p>
    <p class="margin-bottom--10">In 2006, he decided that it was time to go back to Poland. That’s when ha bought a brand new business - a factory producing concrete accessories. Unfortunately, in 2009 - the whole construction market collapsed and the whole company went bankrupt. However, Roman never gave up. Failures only increased his appetite for success and make him look for fresh and bold solutions.</p>
  </div>
</div>