<div class="popup popup--transparent">
    <input type="checkbox" id="roman-popup" class="popup__trigger">
    <div class="popup__container content section section--negative">
        <div class="popup__inner">
            <div class="popup__inner-container team__popup-container">
                <label for="roman-popup" class="popup__close js-close-popup">✖</label>
                {% include 'partials/team/roman.njk' %}
            </div>
        </div>
    </div>
</div>
