<div class="team__person">
  <img src="./images/team/stephen-morgenstern.jpg?v={{ config.assetsVersion }}" alt="Stephen Morgenstern" class="team__image margin-bottom--20" data-aos="fade-left" data-aos-delay="500">
  <div class="team__person-description" data-aos="fade-right" data-aos-delay="500">
    <h4 class="section__header text-font--24">Stephan Morgenstern</h4>
    <p class="text-font--14 margin-bottom--20">FTO Creator</p>
    <p class="margin-bottom--10 team__person-description-intro">Stephan Morgenstern was born in 1962 in Berlin, Germany. For the last 5 years he has been living in Poland. For almost 30 years Stephan has been an entrepreneur and a leader of widely known MLM projects.</p>
    <p class="margin-bottom--10">In his career he’s been cooperating with the most important representatives of net marketing from all over the world. He has an immense business experience that he’s using right now in order to expand the FutureNet’s brand.</p>
    <p class="margin-bottom--10">Stephan understands that sharing his experience with others is very important, that’s why he frequently acts as a speaker during local and global conferences in Germany, Austria, Dubai, Macau, Turkey, Israel, Bulgaria etc.</p>
    <p class="margin-bottom--10">In his business career Stephan has triumphed many times… but he also knows the taste of defeat. Along the way he stumbled upon many obstacles that he had to beat. Those experiences were important lessons and they only enriched his further endeavors. On July 1st, 2012 - Stephan established Somnium Network, his first online marketing company. Unfortunately, after six months he had to announce bankruptcy and close down the whole enterprise. However, all participants of the network received their reckoned bonuses that acted as returns of their investments in the project.</p>
    <p class="margin-bottom--10">That bankruptcy didn’t stop Stephan, on the contrary - it made him work even harder in order to achieve his goals. During the very same year (2012) he made a new plan that was meant to create FutureNet - a whole new social media platform that would work similarly to other networks of that type.</p>
  </div>
</div>