<section class="section section--f1 f1 f1-details" id="f1-details">

  {% include 'partials/f1/beams.njk' %}

  <img src="./images/f1/colorful-points.png?v={{ config.assetsVersion }}" alt="Colorful points image in background" class="f1__colorful-points-img"/>

  <div class="container f1-details__intro text-center">
    <h1 class="margin-bottom--30 section__title f1__title f1-details__title" data-aos="zoom-in" data-aos-delay="100">
      FORMULA ONE MEANS FUTURE
    </h1>
    <h2 class="margin-bottom--35 f1__text f1-details__text" data-aos="zoom-in" data-aos-delay="300">
      Aston Martin Red Bull Racing is one of the best teams in the competition. Since 2010, the RB team dominated the whole championship, 
      Sebastian Vettel won all four titles, and the team took all four Constructors’ Championships between 2010-2013.
    </h2>
  </div>

  <div class="container f1-details__rb-fto-partners text-right">
    <img src="./images/f1/logo/redbull-fto-partners.jpg?v={{ config.assetsVersion }}" alt="RedBull & FuturoCoin Team Partners" class="f1-details__logo-img margin-bottom--35" data-aos="zoom-in" data-aos-delay="100"/>
    <h2 class="margin-bottom--35 f1__text f1-details__text" data-aos="zoom-in" data-aos-delay="500">
      Once again this year, Red Bull should be a real competitor for the title. The team will do that with…
    </h2>
  </div>


  <div class="container f1-details__rbdriver text-center">
    <img src="./images/f1/rbdriver.png?v={{ config.assetsVersion }}" alt="RedBull F1 Driver" class="f1-details__rbdriver-img" data-aos="zoom-in" data-aos-delay="100"/>
    <h1 class="margin-bottom--30 section__title f1__title f1-details__title" data-aos="zoom-in" data-aos-delay="300">
      ...FUTUROCOIN’S SUPPORT
    </h1>
    <h2 class="margin-bottom--35 f1__text f1-details__text" data-aos="zoom-in" data-aos-delay="500">
      At the beginning of February, the world changed. We made history. 
      FuturoCoin signed a sponsorship deal with Aston Martin Red Bull Racing, becoming the very first cryptocurrency to sponsor an F1 team.
    </h2>
  </div>

  <div class="container f1-details__rbcars">
    <img src="./images/f1/rbcar1.jpg?v={{ config.assetsVersion }}" alt="RedBull Car 1" class="f1-details__rbcar-img margin-bottom--35" data-aos="zoom-in" data-aos-delay="100"/>
    <h2 class="margin-bottom--35 f1__text f1-details__text" data-aos="zoom-in" data-aos-delay="300">
      We’ve signed a two-year deal with the team. We can only ask you to cheer for our favorite drivers. 
      We know that with our help, Aston Martin Red Bull Racing can win another championship.
    </h2>
    <img src="./images/f1/rbcar2-desktop.jpg?v={{ config.assetsVersion }}" alt="RedBull Car2" class="f1-details__rbcar-img margin-bottom--35" data-aos="zoom-in" data-aos-delay="500"/>
  </div>


</section>