<section class="footer footer--f1">
    <a href="./" title="FuturoCoin" class="footer__logo">
        <img src="./images/fto-logo.png?v={{ config.assetsVersion }}" alt="FuturoCoin" class="footer__logo-image" width="150" />
    </a>

    <div class="footer__content container--small">
        <ul class="nav nav--slim">
            <li class="nav__item nav__item--copyright">
                © 2018 FuturoCoin, All Rights Reserved.
            </li>
        </ul>
    </div>
    <div class="footer__icons social social--wrap">
        {% include 'partials/index/social.njk' %}
    </div>
</section>