<nav class="header header--f1 js-header">
  <a href="./" title="FuturoCoin" class="header__logo">
    <img src="./images/fto-logo.png?v={{ config.assetsVersion }}" alt="FuturoCoin" class="header__logo-image" width="150" height="50"/>
  </a>
  <span class="header__price">FTO price today:
    <strong class="js-header-price"></strong>
  </span>
  <a href="./" class="link link--f1">Back to website</a>
</nav>