<section class="section section--f1 f1 f1-preview">
  <video class="slider__video" autoplay muted loop>
    <source src="videos/f1.mp4?v={{ config.assetsVersion }}" type="video/mp4"/>
  </video>
  <div class="f1-preview__cover"></div>

  {% include 'partials/f1/beams.njk' %}

  <div class="container">
    <h1 class="margin-bottom--25 section__title f1__title--preview f1-preview__title" data-aos="zoom-in" data-aos-delay="100">
      TO BECOME THE PIONEER
    </h1>
    <h2 class="margin-bottom--35 f1__text--preview f1-preview__text" data-aos="zoom-in" data-aos-delay="300">
      At the beginning of 2019, we signed a sponsorship deal with Aston Martin Red Bull Racing. FuturoCoin became the very first cryptocurrency to sponsor Formula One team.
    </h2>
    <a href="#f1-details" class="f1-preview__button js-smooth-scroll-to">LEARN MORE</a>
  </div>
</section>