<section class="section section--f1 f1 f1-summary">

  {% include 'partials/f1/beams.njk' %}

  <div class="container container--small2 f1-summary__list">
    <h1 class="margin-bottom--30 section__title f1__title f1-summary__title" data-aos="zoom-in" data-aos-delay="100">
      QUICK SUM UP:
    </h1>
    <h2 class="margin-bottom--20 f1__text f1-summary__text" data-aos="zoom-in" data-aos-delay="200">
      Red Bull is a four-time world champion
    </h2>
    <h2 class="margin-bottom--20 f1__text f1-summary__text" data-aos="zoom-in" data-aos-delay="300">
      Pierre Gasly and Max Verstappen represent RB team this year
    </h2>
    <h2 class="margin-bottom--20 f1__text f1-summary__text" data-aos="zoom-in" data-aos-delay="400">
      FuturoCoin signed a two year deal with Aston Martin Red Bull Racing
    </h2>
    <h2 class="margin-bottom--35 f1__text f1-summary__text" data-aos="zoom-in" data-aos-delay="500">
      FTO is the first cryptocurrency to sponsor an F1 team
    </h2>
  </div>

  <div class="container container--small2">
    <h1 class="margin-bottom--30 section__title f1__title f1-summary__title" data-aos="zoom-in" data-aos-delay="100">
      READ MORE:
    </h1>
  </div>

  <div class="container f1-summary__logos">
    <a href="https://bitcoinist.com/cryptocurrency-f1-sponsorship-if-youre-doing-it-youre-winning/" target="_blank">
      <img src="./images/f1/logo/bc.png?v={{ config.assetsVersion }}" alt="BitCoinist" class="margin-bottom--65" data-aos="zoom-in" data-aos-delay="100"/>
    </a>
    <a href="https://formulaspy.com/formula-1/cryptocurrency-enters-f1-with-red-bull-new-sponsor-for-mclaren-58579" target="_blank">
      <img src="./images/f1/logo/fs.png?v={{ config.assetsVersion }}" alt="FormulaSpy" class="margin-bottom--65" data-aos="zoom-in" data-aos-delay="300"/>
      </a>
    <a href="https://www.businesswire.com/news/home/20190205005454/en/FuturoCoin-Unveiled-Partner-Aston-Martin-Red-Bull" target="_blank">
      <img src="./images/f1/logo/bw.png?v={{ config.assetsVersion }}" alt="BusinessWire" class="margin-bottom--65" data-aos="zoom-in" data-aos-delay="500"/>
    </a>
    <a href="https://f1.dziel-pasje.pl/F1_news-27908-Red_Bull_ma_polskiego_sponsora.html" target="_blank">
      <img src="./images/f1/logo/dp.png?v={{ config.assetsVersion }}" alt="DzielPasje" class="margin-bottom--65" data-aos="zoom-in" data-aos-delay="700"/>
    </a>
  </div>

</section>