<div class="bg-base full-container">
    <div class="padding-top--90 padding-bottom--90">
        <div class="container container--small text-center">
            <h2 class="section__title margin-bottom--10 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">Thank you for your interest in our offer.</h2>
            <p class="section__sub-title margin-bottom--30 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="150">We will get back to you soon.</p>
            <a href="/" class="button--primary button">Back to homepage</a>
        </div>
    </div>
</div>