.container {
    width: 1150px;
    margin: 0 auto;
    position: relative;

    &--small {
        padding-left: 20px;
        padding-right: 20px;
        width: 840px;
    }

    &--small2 {
        padding-left: 20px;
        padding-right: 20px;
        max-width: 500px;
    }

    @include media-breakpoint-down(xl) {
        width: 950px;
    }

    @include media-breakpoint-down(lg) {
        width: 768px;
        padding-left: 20px;
        padding-right: 20px;
    }
    @include media-breakpoint-down(md) {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

