$gutter-half: $gutter / 2;
.row {
    display: flex;
    flex-flow: row wrap;
    margin-left: -$gutter-half;
    margin-right: -$gutter-half;

    .col {
        padding-left: $gutter-half;
        padding-right: $gutter-half;

        &-3 {
            width: 25%;
        }

        &-4 {
            width: 33.33333%;
        }

        &-6 {
            width: 50%;
        }

        &-8 {
            width: 66.66666%;
        }

        &-9 {
            width: 75%;
        }

        &-12 {
            width: 100%;
        }

        @include media-breakpoint-down(lg) {
            &-hide-lg-down {
                display: none;
            }

            &-full-width-lg-down {
                width: 100%;
            }
        }

        @include media-breakpoint-down(md) {
            width: 100% !important;
        }
    }
}
