.section {
    $block: &;

    padding-top: 80px;
    background: $bg-primary;
    color: $txt-secondary;
    overflow: hidden;

    &__title {
        color: $txt-primary;
        font-size: 35px;
        line-height: 1.3;
        font-weight: 500;

        &--large {
            font-size: 48px;
        }

    }

    &__sub-title {
        color: $txt-primary;
        font-size: 18px;
        line-height: 1.3;
        font-weight: 400;
    }

    &__header {
        color: $txt-primary;
    }

    &--negative {
        background: $bg-neg;
        color: $txt-primary-neg;

        #{$block} {
            &__title {
                color: $header;
            }
        }
    }

    &--negative-light {
        color: $txt-secondary-neg;
    }

    &--shadow {
        background: #f3f4f5;
    }

    &--drop-shadow {
        box-shadow: 0 0 25px 5px rgba(0,0,0,.1);
    }

    @include media-breakpoint-down(lg) {
        &__title {
            line-height: 1.1;
            font-size: 30px;
        }
    }

    &--f1 {
        background: transparent;

        .container {
            padding-left: 20px;
            padding-right: 20px;
        }  
    }
}