<section class="section section--negative">
    <div class="container margin-bottom--80">
        <div class="row">
            <div class="col col-12">
                <h3 class="section__title text-font--24 text--black margin-bottom--30">Informing Clause</h3>
                <ul class="list">
                    <li class="list__item">
                        <span class="list__counter">1.</span>
                        <div class="list__content">
                            We inform that:
                        </div>
                        <ul class="list">
                            <li class="list__item">
                                <span class="list__counter">a.</span> the controller of obtained data is a company under the name <span class="text-mark">BCU Trading LLC</span> of Abdulla Al Fahed-4 Office Number 210 Al Quasis second 96032 Dubai, company no. 781893, which pursuant to Art. 27 GDPR appointed a representation in the European Union, i.e. a company under the name CODERS HOUSE SPÓŁKA Z OGRANICZONĄ ODPOWIEDZIALNOŚCIĄ of ul. Nowogrodzka 31, 00-511 Warszawa, entered into the Register of Entrepreneurs kept by District Court of the city of Warsaw in Warsaw XII Commercial Division of National Court Register KRS No.: 0000714535, REGON: 369303482, NIP: 7010797819 (“the Representative”), e-mail of the Representative <a href="mailto:iodo@codershouse.eu" class="text-orange">iodo@codershouse.eu</a>,
                            </li>
                            <li class="list__item">
                                <span class="list__counter">b.</span> data shall be processed to provide “Newsletter” service. By “Newsletter” you will receive business information (market and promote);
                            </li>
                            <li class="list__item">
                                <span class="list__counter">c.</span> personal data shall be given to the following categories of receivers:
                                <ul class="list">
                                    <li class="list__item">
                                        <span class="list__counter">-</span> subcontractors of the controller (within providing services to individuals whose data are obtained).
                                    </li>
                                </ul>
                            </li>
                            <li class="list__item">
                                <span class="list__counter">d.</span> personal data shall be processed until you revoke a consent to receive “Newsletter” or in case legally justified activities of the controller;
                            </li>
                            <li class="list__item">
                                <span class="list__counter">e.</span> data concerning people are provided by them personally and freely, however, without providing such data the service of “Newsletter” is impossible.
                            </li>
                        </ul>
                    </li>
                    <li class="list__item">
                        <span class="list__counter">2.</span>
                        <div class="list__content">
                            We inform that you have right to:
                        </div>
                        <ul class="list">
                            <li class="list__item">
                                <span class="list__counter">a.</span> demand from the controller and the Representative, who works on behalf of the admin, to access your personal data,
                            </li>
                            <li class="list__item">
                                <span class="list__counter">b.</span> demand to correct your personal data,
                            </li>
                            <li class="list__item">
                                <span class="list__counter">c.</span> demand to remove your personal data,
                            </li>
                            <li class="list__item">
                                <span class="list__counter">d.</span> demand to limit processing of your personal data,
                            </li>
                            <li class="list__item">
                                <span class="list__counter">e.</span> disagree to process your personal data,
                            </li>
                            <li class="list__item">
                                <span class="list__counter">f.</span> demand to transfer data and to share the copies of data,
                            </li>
                            <li class="list__item">
                                <span class="list__counter">g.</span> revoke the consent at any time (whereas revoking the consent does not affect the consent on the right to process data, which has been provided on the basis of the consent before its revoking),
                            </li>
                            <li class="list__item">
                                <span class="list__counter">h.</span> In case of recognizing that processing data by the admin violate the provisions of GDPR, you are entitled to lodge a complaint to the supervisory body (i.e. until 25th May 2018 to Inspector General for the Protection of Personal Data and after the date to the appropriate authority).
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
