<section class="slider section">
    {# <div class="slider__particles" id="particles-js"></div> #}
    <div class="slider__cover"></div>
    <div class="container container--small text-center">
        <h2 class="section__title margin-bottom--30 text-font--130" data-aos="zoom-in" data-aos-delay="100">
            404
        </h2>
        <p class="text-font--20 margin-bottom--50" data-aos="zoom-in" data-aos-delay="300">
            The page you were looking for appears to have been moved, deleted or does not exist. But no worries! We've got you covered!
        </p>
        <div data-aos="zoom-in" data-aos-delay="500">
            <a href="./" class="button js-smooth-scroll-to">head straight to our home page</a>
        </div>
    </div>
</section>