<!doctype html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-57624689-10"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag()

        {dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-57624689-10');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FuturoCoin - the most innovative cryptocurrency</title>
    <meta name="description" content="Check the cryptocurrency of the future - FuturoCoin. Read the whitepaper and main assumptions. Start trading with instant transactions with FuturoCoin.">

    <meta name="image" content="https://futurocoin.com/images/thumbnail.jpg" />
    <meta name="keywords" content="" />
    <meta name="author" content="futurocoin.com" />

    <link rel="canonical" href="https://futurocoin.com/">
    <link rel="alternate" hreflang="en-US" href="https://futurocoin.com/">

    <!-- Schema.org for Google -->
    <meta itemprop="name" content="FuturoCoin - the most innovative cryptocurrency" />
    <meta itemprop="description" content="Check the cryptocurrency of the future - FuturoCoin. Read the whitepaper and main assumptions. Start trading with instant transactions with FuturoCoin." />
    <meta itemprop="image" content="https://futurocoin.com/images/thumbnail.jpg" />

    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://futurocoin.com/" />
    <meta property="og:title" content="FuturoCoin - the most innovative cryptocurrency" />
    <meta property="og:image:secure_url" content="https://futurocoin.com/images/thumbnail.jpg" />
    <meta property="og:description" content="Check the cryptocurrency of the future - FuturoCoin. Read the whitepaper and main assumptions. Start trading with instant transactions with FuturoCoin." />
    <meta property="og:site_name" content="futurocoin.com" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:locale:alternate" content="en_US" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@futurocoin" />
    <meta name="twitter:title" content="FuturoCoin - the most innovative cryptocurrency" />
    <meta name="twitter:description" content="Check the cryptocurrency of the future - FuturoCoin. Read the whitepaper and main assumptions. Start trading with instant transactions with FuturoCoin." />
    <meta name="twitter:image" content="https://futurocoin.com/images/thumbnail.jpg" />

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="./images/favicon.png?v={{ config.assetsVersion }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon.png?v={{ config.assetsVersion }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png?v={{ config.assetsVersion }}" />

    <link rel="stylesheet" href="./vendor/aos/aos.css">
    <link rel="stylesheet" href="./vendor/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="./css/main.min.css?v={{ config.assetsVersion }}">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5HV27L3');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5HV27L3"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% block header %}{% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}{% endblock %}

    <script src="./vendor/jquery-3.3.1.min.js"></script>
    <script src="./vendor/aos/aos.js"></script>
    <script src="./vendor/slick/slick.min.js"></script>
    <script src="./scripts/global.min.js?v={{ config.assetsVersion }}"></script>
    <!-- charts.js -->
    <script src="./vendor/moment.min.js"></script>
    <script src="./vendor/Chart.min.js"></script>

    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>#}
    <script src="./scripts/charts.min.js?v={{ config.assetsVersion }}"></script>
    
    <script type="text/javascript">
        /** This section is only needed once per page if manually copying **/
        if (typeof MauticSDKLoaded == 'undefined') {
            var MauticSDKLoaded = true;
            var head            = document.getElementsByTagName('head')[0];
            var script          = document.createElement('script');
            script.type         = 'text/javascript';
            script.src          = 'https://fn1.shad0w.pl/media/js/mautic-form.js';
            script.onload       = function() {
                MauticSDK.onLoad();
            };
            head.appendChild(script);
            var MauticDomain = 'https://fn1.shad0w.pl';
            var MauticLang   = {
                'submittingMessage': "Please wait..."
            }
        }
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-57624689-10');
    </script>

    {% block scripts %}{% endblock %}
    
</body>
</html>
