{% extends 'template.njk' %}

{% block header %}
    <nav class="header js-header js-mobile-nav--container">
        <a href="./" title="FuturoCoin" class="header__logo">
            <img src="./images/fto-logo.svg?v={{ config.assetsVersion }}" alt="FuturoCoin" class="header__logo-image" />
        </a>
    </nav>
{% endblock %}

{% block content %}
    {% include 'partials/404/slider.njk' %}
{% endblock %}

{% block footer %}{% endblock %}