{% extends 'template.njk' %}

{% block header %}
    {% include 'partials/f1/header.njk' %}
{% endblock %}

{% block content %}
    {% include 'partials/f1/preview.njk' %}
    {% include 'partials/f1/details.njk' %}
    {% include 'partials/f1/summary.njk' %}
{% endblock %}

{% block footer %}
    {% include 'partials/f1/footer.njk' %}
{% endblock %}

{% block scripts %}
    {% include 'partials/f1/scripts.njk' %}
{% endblock %}