{% extends 'template.njk' %}

{% block header %}
    {% include 'partials/header.njk' %}
{% endblock %}

{% block content %}
    {% include 'partials/index/slider.njk' %}
    {% include 'partials/index/features.njk' %}
    {% include 'partials/index/market-performance.njk' %}
    {% include 'partials/index/redefine.njk' %}
    {% include 'partials/index/timeline.njk' %}
    {% include 'partials/index/whitepaper.njk' %}
    {% include 'partials/index/safe-wallet.njk' %}
    {% include 'partials/index/team.njk' %}
    {% include 'partials/index/news.njk' %}
    {#{% include 'partials/index/trailers.njk' %}#}
    {% include 'partials/index/press-about-us.njk' %}
    {% include 'partials/index/partners.njk' %}
    {% include 'partials/index/newsletter.njk' %}
{% endblock %}

{% block footer %}
    {% include 'partials/footer.njk' %}
    {% include 'partials/shared/cookies.njk' %}
{% endblock %}

{% block scripts %}
    {% include 'partials/index/scripts.njk' %}
{% endblock %}