{% extends 'template.njk' %}

{% block content %}
    {% include 'partials/informing-clause/clause.njk' %}
{% endblock %}

{% block scripts %}
    <!-- charts.js -->
    <script src="./vendor/moment.min.js"></script>
    <script src="./vendor/Chart.min.js"></script>
    <script src="./scripts/charts.min.js?v={{ config.assetsVersion }}"></script>
{% endblock %}